[2017-01-30 18:55] gaurav-dalvi opened #2 "Swarm + Contiv installatoin"
Can we display some success message at the end of installation ?
Current script just displays standard ansible message.

net_demo_installer script displays message like this

[code]

[2017-01-30 18:56] gaurav-dalvi commented on #2
DOCKER_HOST == netmaster IP in the case of this installer.

[2017-01-31 05:41] gaurav-dalvi commented on #2
this is done by @neelimamukiri . Will close it

[2017-01-31 05:41] #2 closed

[2017-01-31 05:43] gaurav-dalvi opened #6 "add aci-gw load option if there is already docker image tarball"
As aci-gw container image can take longer time depending upon your network connection. so please make the flag that if docker image tar file is there just load from there instead of doing docker pull.

[2017-01-31 05:47] gaurav-dalvi commented on #6
@neelimamukiri : Please assign it yourself I dont have permission to add Assignees on this repo.

[2017-01-31 05:48] gaurav-dalvi opened #7 "have runtime parameter to specify aci-gw version"
Current installer does not take aci-gw container customer image information as a command line. Can we please make that parameter as run time so that I can  pass in to script ?

aci-gw-image="contiv/aci-gw:<some version>"

[2017-01-31 05:48] gaurav-dalvi commented on #7
@neelimamukiri : Please assign it yourself.

[2017-01-31 06:17] neelimamukiri commented on #7
For reference, we decided on having the versions and images hard coded at build time, to allow for the support matrix to match the test matrix. The env file mechanism allows overriding any of the options, but it is not simple, so restricted to cases where there is a one off requirement. We want to make this a command line option for aci-gw container as the aci-gw image has to match the APIC versio

[2017-01-31 06:24] gaurav-dalvi commented on #7
previous net_demo_installer script was very flexible on this. contiv/aci-gw container is integral part of contiv (in fact one of the most important)  So installer should be flexible to take any image of aci-gw container.

[2017-01-31 22:05] #7 closed

[2017-01-31 22:27] neelimamukiri opened #9 "Add shell type to all scripts"

[2017-01-31 22:44] gaurav-dalvi opened #10 "Documentation for swarm + contiv installation"
there is no documentation for swarm installation+ contiv here .
It used to be there earlier in netplugin/install.
1: should we copy that ?
2: Should we just maintain one repo : contiv/netplugin for all installers ?

[2017-01-31 22:57] gaurav-dalvi opened #11 "swarm installer gets stuck sometime here"
[code]

[2017-01-31 22:57] gaurav-dalvi commented on #11
[code]

[2017-01-31 22:58] neelimamukiri commented on #11
Failed connect to sjc-linux.cisco.com:80?

[2017-01-31 23:02] gaurav-dalvi opened #12 "uninstaller does not clean up docker containers"
docker swarm + contiv one does not clean up containers.

Unsintall should do EXACT reverse of all the tasks we are doing with installer so that we can get our VMs back in original shape.

[2017-02-01 04:15] neelimamukiri commented on #11
Is there any todo here, or can this be closed? The error message clearly says what was wrong:  "Failed connect to sjc-linux.cisco.com:80; No route to host"\nTrying other mirror.

[2017-02-01 04:18] neelimamukiri commented on #12
We need a reset option to clear the state from the installation for demo purposes and other clean/purge use cases.
For docker/swarm this is to remove containers.
For etcd this is not an issue as there is no persistent store backing (https://github.com/contiv/ansible/issues/317 is tracking this so we can allow for uninstall/install/upgrade scenarios without purging data). When https://github.com/co

[2017-02-01 18:56] riffraff169 opened #13 "Documentation for kubernetes install"
Document says to continue to kubernetes install getting started page.  Per @neelimamukiri , should skip step 3, labeled (3/4) Installing a pod network.  The contiv install is done instead of step 3.  Also, it could be mentioned that step 4 (Joining nodes) of the kubernetes install can be done either before or after step 3 (which would be running the contiv install).

[2017-02-02 01:04] gaurav-dalvi opened #14 "Description of each every command line parameter to main scripts"
Can we please provide description of all the options for swarm and k8s scripts here ?
./install_swarm.sh --help

[2017-02-02 22:10] neelimamukiri commented on #6
Corresponding ansible PR is https://github.com/contiv/ansible/pull/322

[2017-02-02 22:10] #6 closed

[2017-02-02 22:10] neelimamukiri commented on #11
This is an rpm mirror issue, closing it as it is not under installer control.

[2017-02-02 22:10] #11 closed

[2017-02-06 20:50] #12 closed

[2017-02-09 08:10] #14 closed

[2017-02-09 08:10] #9 closed

[2017-02-09 08:11] neelimamukiri commented on #13
Added this to the README pre-requisites section.

[2017-02-09 08:11] #13 closed

[2017-02-09 08:13] neelimamukiri commented on #10
@gaurav-dalvi, does the information in https://github.com/contiv/install cover what you had in mind or is there additional information needed?

[2017-02-10 23:10] neelimamukiri opened #25 "Add README.md to the release bundle"
Currently we have to point folks to contiv/install for the release usage documentation

[2017-02-14 18:44] rhim commented on #10
ping @gaurav-dalvi

[2017-02-14 18:46] gaurav-dalvi commented on #10
It would be better to add example on : Using your customized aci-gw container version to be fetched from docker hub.

[2017-02-14 19:54] neelimamukiri commented on #10
We do not expect end users to specify aci-gw version. Also if you specify a custom version, it wont work with the default full installer. As the option is documented in the installer https://github.com/contiv/install/blob/master/install/ansible/install_swarm.sh#L39-L40 and is not expected to be used by regular users (as we will push the latest aci-gw image to docker hub), I think we are good with

[2017-02-14 19:54] #10 closed

[2017-02-14 22:33] gaurav-dalvi opened #27 "installer failed on aws"
[code]

[2017-02-14 22:33] gaurav-dalvi commented on #27
Installer used : https://github.com/contiv/install/releases/download/1.0.0-beta.2/contiv-1.0.0-beta.2.tgz

command I tried :

./install/ansible/install_swarm.sh -e <key> -u centos -f install/ansible/cfg.yml -i -n <IP address>

[2017-02-14 22:50] gaurav-dalvi opened #28 "uninstaller failed"
[code]

Installer used : https://github.com/contiv/install/releases/download/1.0.0-beta.2/contiv-1.0.0-beta.2.tgz

command I tried :

./install/ansible/uninstall_swarm.sh -e -u centos -f install/ansible/cfg.yml -i -n

[2017-02-14 23:05] neelimamukiri commented on #28
I think the final message is wrong. I was looking for 0 failures, but as failures are okay and ignored in uninstaller, this needs to be handled as well. I will work on a fix for it.

[2017-02-14 23:09] neelimamukiri commented on #28
@gaurav-dalvi, can you attach the log file?

[2017-02-15 05:16] #28 closed

[2017-02-15 05:18] neelimamukiri commented on #27
I've tested per https://github.com/contiv/stash/blob/master/CI/aws-setup-guide.md and install/uninstall (with -r option) and re-install with both single and multi-master cases worked fine with no issues with netmaster bring up. We'll have to investigate the specific VMs to figure out what the issue was.

[2017-02-15 18:34] neelimamukiri opened #30 "Move net_demo_installer to contiv/install"
We seem to have a requirement to run the install from a node in the host.
So allow installing ansible on one of the nodes and running installer from there rather than as a container from an external host.

[2017-02-15 18:38] neelimamukiri commented on #30
For reference, some of the changes between net_demo_installer and the current installer:
1. Service VIP is the IP of the control interface of a master node, rather than the IP of eth0 or the first interface
2. Only nodes explicitly marked as role: master are used as master nodes as opposed to net_demo_installer where all nodes are master nodes
3. Current ansible installs etcd as stateful by defaul

[2017-02-16 02:57] gaurav-dalvi opened #32 "contiv-compose instllation error"
With latest beta2 version

[code]

is it expected ? If we are not using contiv-compose , we should not be installing via ansible imo.

[2017-02-16 03:26] neelimamukiri commented on #32
Version check is expected to fail when the component is not installed. It seems to be the ansible way of check if required version component is installed, and if not install it.

Please open ansible issues in contiv/ansible. I'm closing this as it is expected behavior.

[2017-02-16 03:26] #32 closed

[2017-02-16 15:58] spirrello opened #33 "Contiv.yml"
Hi,

This readme requires notes on having to update the contiv.yml file otherwise the uplink interfaces are never deployed.  See below on the logs I'm seeing from my worker nodes.

time="Feb 16 15:56:12.527659444" level=error msg="OfnetBgp currently supports only one uplink interface. Num uplinks configured: 0"
time="Feb 16 15:56:12.527757579" level=info msg="Waiting for OVS switch(vlan) to connec

[2017-02-16 19:39] dojacobs opened #34 "Installer needs to exit with a non-zero status if it fails"
There's a problem with the repo that is preventing Installer from getting a certain RPM.

The installer prints "Install Failed" but since this command succeeds, the script exits with status = 0, which means the entire script succeeded.

Unfortunately this means for automation and other integration systems, Installer will always "succeed" - even when it failed.

Exiting with status code=1 is suffic

[2017-02-16 19:40] dojacobs commented on #34
I can't mark this as [BUG].

[2017-02-16 20:05] gaurav-dalvi commented on #34
PR : https://github.com/contiv/install/pull/36

[2017-02-16 23:53] gaurav-dalvi opened #37 "make demo swarm fails"
[code]

[2017-02-17 21:19] #27 closed

[2017-02-18 16:57] neelimamukiri commented on #37
I ran into this while trying to run it on Vishal's setup and fixed it with https://github.com/contiv/install/commit/008f38243b3bdc93363c67e0aa945cbdf6221075

I was always testing k8s-demo first locally or had the release folder from a previous build, so didn't run into it locally.

[2017-02-18 16:57] #37 closed

[2017-02-18 16:58] neelimamukiri commented on #34
Is there anything else to be done here?

[2017-02-18 17:12] neelimamukiri opened #41 "Release test should allow local build with release version"
This is required for testing the builds before release.

[2017-02-19 00:32] cgascoig opened #43 "contiv-compose not working with netmaster API"
After installing 1.0.0-beta.2, contiv-compose does not seem to work and gets lots of "Page not found" errors when attempting to build contiv policies:
[code]

It looks like contiv-compose is not using the correct netmaster API - using strace I can see that it is using API calls like: `POST /api/endpointGroups/default` which I believe should be `POST /api/v1/endpointGroups/default`

[2017-02-19 18:59] #41 closed

[2017-02-21 15:52] neelimamukiri opened #46 "Update make demo* documentation"
Creating this to track doc updates to make demo* scripts

1. Set the build version to use for the demo
` export BUILD_VERSION=1.0.0-beta.3 `
2. Document how to access the Vagrant VMs
`cd cluster && CONTIV_KUBEADM=1 vagrant ssh contiv-node1` for k8s
and
`cd cluster && vagrant ssh contiv-node3` for swarm

[2017-02-22 01:59] #34 closed

[2017-02-26 21:14] gaurav-dalvi opened #49 "more info regarding installer"
Following things to be added to documentation. Please dont add as  help in script. Let us aim to add in some readme.

1: please explain why we need contiv install. This is the most confusing part according to other people.

2: for public cloud list of ports to be opened

3: minimum number of nodes (master and worker) requirements. Will installer work on 1 master node only ? will install work one w

[2017-02-27 17:57] dojacobs opened #50 "Installer for Docker-Swarm needs to exit with status code != 0 on all failures"
The installer doesn't always exit with a non-zero status code on a failure.

Shell scripts succeed (0) or fail (non-zero) based on the last command issued.  If that command is an echo, it succeeds and the script exits with 0.

The problem with this is Jenkins uses the exit codes of commands and scripts to determine if the step succeeded or not.  So printing an error statement and exiting with 0 me

[2017-02-27 20:07] dojacobs commented on #50
Edited title to point out this is for the docker-swarm installer.

[2017-02-27 20:10] dojacobs opened #51 "Contiv k8s install.sh needs to exit with non-zero if failure"
Jenkins tried running the K8s install.sh but did it in the wrong directory and didn't do it as root.

This caused many errors, but the script still thought it succeeded, and printed out how to get to the Contiv UI.

If an error is encountered (not root, missing file, etc.) print an error message and exit with status = 1.

[2017-02-28 21:07] dseevr commented on #51
@dojacobs https://github.com/contiv/install/pull/52 has been merged... you can pull on master to get the latest code.  If you're still hitting this issue, let me know

[2017-03-02 02:51] neelimamukiri opened #57 "Allow specifying ProxyCommand for contiv swarm installation"
Also install ncat in the container image

[2017-03-03 16:10] tiswanso opened #59 "k8s/install.sh fwd-mode routing doesn't work"
k8s/install.sh attempts to use netctl from location where it was prior to move to /usr/bin.  So, the fwd-mode doesn't get set to routing.

https://github.com/contiv/install/blob/master/install/k8s/install.sh#L247

This issue is in master as well as 1.0.0-beta.3

[2017-03-07 01:12] JoePython1 opened #60 "Container 101 tutorial not working anymore"
http://contiv.github.io/documents/tutorials/container-101.html

[vagrant@tutorial-node1 ~]$ etcdctl cluster-health
cluster may be unhealthy: failed to list members
Error:  client: etcd cluster is unavailable or misconfigured
error #0: dial tcp 127.0.0.1:2379: getsockopt: connection refused
error #1: dial tcp 127.0.0.1:4001: getsockopt: connection refused

[vagrant@tutorial-node1 ~]$ netctl version

[2017-03-07 19:05] neelimamukiri opened #61 "Contiv uninstall should delete the ovs bridges and ports."
Corresponding ansible is at https://github.com/contiv/ansible/blob/master/roles/contiv_network/tasks/ovs_cleanup.yml#L4-L17

[2017-03-07 19:08] neelimamukiri commented on #57
Fixed with https://github.com/contiv/install/commit/4780ce10ab17350b2047e4b64f4991d283852684

[2017-03-07 19:08] #57 closed

[2017-03-08 17:46] alpha-li opened #63 "What is the default user name and password when contiv is first set up?"

[2017-03-09 01:39] sjeuk opened #64 "Ansible Options hardcoded in install_swam.sh and uninstall_swarm.sh causes issues in non-Vagrant environments"
The install_swarm.sh and the uninstall_swarm.sh have the Ansible options hardcoded to a vagrant like environment.

# Ansible options. By default, this specifies a private key to be used and the vagrant user
ans_opts=""
ans_user="vagrant"
ans_key=$src_conf_path/insecure_private_key
install_scheduler=""

Should either be made accessible through the CLI as parameters or mentioned in document to modif

[2017-03-09 01:48] neelimamukiri commented on #64
These are the defaults.
The scripts take ansible user with the -u parameter, ssh key with the -e parameter and any additional ansible options with the -a parameter.

[2017-03-09 02:02] #64 closed

[2017-03-09 07:46] dseevr commented on #63
Username: admin

Password: admin

[2017-03-09 13:31] alpha-li commented on #63
I had a try ,after inputing that info ,nothing happeded.  It seems that admin/admin is correct, but I can not login still. What shall I do?

[2017-03-09 19:10] neelimamukiri commented on #63
Do you see any specific error? Did you use the swarm/kubernetes installer?

[2017-03-09 19:10] dseevr commented on #63
Possibly related to https://github.com/contiv/contiv-ui/issues/282 ?

Could you put your details (OS, browser, versions, etc.) there?

[2017-03-09 19:10] neelimamukiri opened #65 "Run Contiv install container in the host namespace"

[2017-03-09 19:52] #65 closed

[2017-03-10 01:07] alpha-li commented on #63
@dseevr
OS： MacOS  10.12.3
Browser： Chrome 56.0
Contiv：1.0.0-full-beta.3
VM Manager: Virtualbox 5.0.26

[2017-03-10 01:44] dseevr commented on #63
@alpha-li thanks for the info.  It seems you are encountering the exact same issue as https://github.com/contiv/contiv-ui/issues/282.  This bug is not related to the installer so I will close this thread and you can subscribe to that one for updates.  Thanks again and I am very sorry for the inconvenience!  😞

[2017-03-10 01:58] dseevr commented on #63
Actually, @alpha-li would you be willing to try one thing for me?

Could you go inside the VM (`vagrant ssh ...`) and `sudo yum install ntp`, make sure the clock syncs, and then try again?

[2017-03-10 15:13] #33 closed

[2017-03-10 15:14] neelimamukiri commented on #59
Fixed with https://github.com/contiv/install/commit/d207b6609f88d4b4bed02e2e7de98f909dde4c1b

[2017-03-10 15:14] #59 closed

[2017-03-10 16:52] #25 closed

[2017-03-14 19:27] #61 closed

[2017-03-14 19:28] #51 closed

[2017-03-15 02:32] neelimamukiri commented on #50
Should be fixed with the latest code base.

[2017-03-15 02:32] #50 closed

[2017-03-15 02:32] neelimamukiri commented on #63
@alpha-li, were you able to try @dseevr's suggestion?

[2017-03-20 22:15] camrossi opened #72 "etcd not installed when the script is run without -i"
Hi,

If docker is already installed but etcd is not the script logic has a bug and won't install etcd.

You first do this:
if [ "$cluster_store" == "" ];then
  cluster_store="etcd://$service_vip:2379"
fi
and then you check

if [ "$cluster_store" = "" ];
INSTALL ETCD

This will clearly never work

[2017-03-21 04:27] neelimamukiri commented on #72
Should be resolved with 694673b32ef6498546abd80faa6dc57e45a57de1.
https://github.com/contiv/install/commit/694673b32ef6498546abd80faa6dc57e45a57de1#diff-9c3581b3544b2a45a38ca4fa19b7dbc6R143

It will be available in the next release or you can build a release with make build.

[2017-03-21 04:27] #72 closed

[2017-03-24 22:28] overip opened #78 "Permission denied (publickey) error when connecting through SSH on AWS after Contiv installation"
There is an issue that may most likely be caused by Contiv.
Immediately after installing Contiv on an AWS instance the home of the user change ownership. The new owner of the home directory becomes "staff".
So if you have an instance with Ubuntu OS, the owner of /home/ubuntu is replaced by "staff", causing the instance to be no more accessible with SSH. The workaround is to create a new instance,

[2017-03-27 21:09] neelimamukiri commented on #78
So running tar as root was causing this issue.
tar oxf contiv-1.0.0-beta.4.tgz works fine.
tar xf contiv-1.0.0-beta.4.tgz changes the owner of home to the user who created the tar bundle.
I will update the documentation accordingly. Amazing find @overip, thanks for helping repro/root cause it.

[2017-03-27 22:03] #78 closed

[2017-03-27 22:06] neelimamukiri commented on #63
Should be resolved with https://github.com/contiv/contiv-ui/commit/c0f6ec82b3879e661b2b0e585de3553ae2f7d1f8. Please reopen if issue exists after beta 5.

[2017-03-27 22:06] #63 closed

[2017-03-27 22:58] rhim commented on #60
dup of contiv/contiv.github.io#51

[2017-03-27 22:58] #60 closed

[2017-03-28 00:31] alpha-li commented on #63
@neelimamukiri Thank u very much! I will try it later.

[2017-03-28 04:46] neelimamukiri opened #82 "Update k8s installer to support liveness checks"
Installer changes corresponding to https://github.com/contiv/netplugin/pull/807

[2017-03-28 19:03] #46 closed

[2017-03-29 21:38] gaurav-dalvi opened #84 "while doing make demo-swarm getting this error"
git clone latest install code
cd install
export BUILD_VERSION=1.0.0-beta.4
make demo-swarm

[code]

[2017-03-29 21:39] gaurav-dalvi opened #85 "make demo-swarm is asking for additional python modules."
git clone latest installer code
cd install
export BUILD_VERSION=1.0.0-beta.4
make demo-swarm

[code]

[2017-03-29 22:21] neelimamukiri commented on #84
https://github.com/contiv/install/issues/85 causes the "BUILD_VERSION= " in
BUILD_VERSION= make install-test-swarm above. So both issues are the same.

[2017-03-29 22:21] #84 closed

[2017-03-29 22:23] gaurav-dalvi commented on #84
#85 expects certain python modules.  This one is regarding the error which we are getting in the end of `make demo-swarm` how come both issues are same ?

[2017-03-30 00:51] #85 closed

[2017-04-05 18:17] gaurav-dalvi opened #95 "scriptto check sofwares are installed or not, before trying out tutorial"
before we do run make demo-*, a single script to check following :

1: Check whether you have vagrant installer or not. (version > some basic working version of vagrant say 1.8.x)
2: Check whether you have installed Virtualbox or not ?
3: Check whether you have installed docker-engine and its running or not.
4: Check if git is present or not.

[2017-04-07 16:21] neelimamukiri opened #100 "k8s cleanup script during uninstall has to be taken from the version specific folder"

[2017-04-07 16:21] neelimamukiri commented on #100
This is a regression in beta6

[2017-04-10 18:23] #100 closed

[2017-04-12 18:44] jojimt commented on #82
The following changes are required: 1) Set contiv fwd-mode to "routing" 2) Create an "infra" network with name contivh1 and a default gateway specified. E.g. netctl net create -n infra -s 132.1.1.0/24 -g 132.1.1.1 contivh1

[2017-04-12 22:29] gaurav-dalvi opened #102 "un-installer does not delete docker containers which user has created"
Command used : `./install/ansible/uninstall_swarm.sh -f install/ansible/cfg.yml -e ~/.ssh/id_rsa.test -u admin -i -r`

O/p from one of the node :

[code]

You can see the Acont and Bcont are still running
Installer version: beta6

[2017-04-12 22:54] gaurav-dalvi opened #103 "installer failed to install ovs"
[code]

version : beta6

[2017-04-13 16:39] PhilipSchmid commented on #103
Workaround (if you really need version kilo):

In `ansible/roles/contiv_network/tasks/ovs.yml` change URL to [https://repos.fedorapeople.org/repos/openstack/EOL/openstack-kilo/rdo-release-kilo-2.noarch.rpm](https://repos.fedorapeople.org/repos/openstack/EOL/openstack-kilo/rdo-release-kilo-2.noarch.rpm).

Better: I think contiv should migrate to a newer version than kilo..

Regards,
Philip

[2017-04-13 17:13] gaurav-dalvi commented on #103
Thanks @PhilipSchmid . Appreciate your help here.

[2017-04-13 17:35] gaurav-dalvi opened #104 "Documentation to add your custom repos if you are using minimal install"
if someone wants to use their own repos instead of relying on the repos listed in our ansible playbooks, we need to have documentation for this.
It will good for our team as well, so that we can avoid running into ovs related issues hence onwards.

[2017-04-13 22:56] #103 closed

[2017-04-13 23:39] unclejack opened #106 "Doc: update the README, command line help, as well as contiv.github.io for liveness checks"
This issue tracks the changes to be made to address @neelimamukiri's comment on #105.

[2017-04-14 07:58] #82 closed

[2017-04-14 22:32] gaurav-dalvi opened #113 "make demo-k8s does not work on RHEL"
[code]

[2017-04-14 23:07] dseevr commented on #113
What does rhsm.log say?  This looks like a RedHat connectivity issue and not something broken with our installer

[2017-04-14 23:56] DivyaVavili opened #115 "Installer fails as hosts are not accessible though passwordless ssh is setup properly"
Executing this from mac
'''
./install/ansible/install_swarm.sh -f install/ansible/cfg.yml -e ~/.ssh/ssh-key -u admin -i
Starting the installer container
Generating Ansible configuration
Using 15.29.37.216 as the master node
Verifying ansible reachability
WARNING Some of the hosts are not accessible via passwordless SSH

This means either the host is unreachable or passwordless SSH is not
set up fo

[2017-04-15 00:01] DivyaVavili opened #116 "Include pre-requisite for passwordless ssh"
Include a pre-requisite to setup passwordless ssh.

[2017-04-15 00:48] gaurav-dalvi commented on #115
@DivyaVavili
This is internal setup issue and not related to installer. Could you please try on your linux machine, rather than trying from mac. You need to add static IP route to private lab network.

[2017-04-16 20:54] gaurav-dalvi opened #119 "In Full contiv build , include reduced size contiv/aci-gw:latest image"
@neelimamukiri : We need to put contiv/aci-gw:latest image inside full build.

[2017-04-16 21:14] neelimamukiri commented on #119
Why is this required? We used to see that for most normal network speed setups, docker load was taking much longer than docker pull/run.

[2017-04-17 04:02] neelimamukiri commented on #113
@gaurav-dalvi, is this still an issue?

[2017-04-17 04:03] neelimamukiri commented on #102
Fixed with PR #120

[2017-04-17 04:03] #102 closed

[2017-04-17 04:05] neelimamukiri commented on #119
Per offline discussion, there was an update to aci-gw:latest image after the 1.0 release was made. This can be picked up either using the minimal install build or will be packaged in the next build of the installer (automatically as part of the build process. See https://github.com/contiv/install/blob/master/scripts/build.sh#L129).

We should not update the release bits manually to include the new

[2017-04-17 04:05] #119 closed

[2017-04-17 06:07] gaurav-dalvi commented on #113
no longer see this issue.
https://github.com/contiv/install/blob/master/cluster/Vagrantfile#L98-L104 needed to do.

[2017-04-17 06:07] #113 closed

[2017-04-17 14:26] spirrello opened #121 "Process for Installing Contiv with K8s"
I feel there should be a process for installing Contiv with a working installation of K8s.  If you look at other products such as Calico or Flannel, they have these well documented.  This instruction on this page fall short where they're dependant of Kubeadm - you can't use Kubeadm in production as it doesn't support a multi-master deployment.

My recommendation is to document the process for inst

[2017-04-17 17:41] gaurav-dalvi commented on #121
Ping @neelimamukiri @dojacobs

[2017-04-17 21:21] dojacobs commented on #121
The process Jenkins (Netplugin_End-to-End) uses is this:

Assume I have deployed nodes K8s Master (M), and 2 nodes (N1, N2) running Centos. (in Jenkins this is done via terraform.)

First, copy the centos_bootstrap.sh script to M, N1, and N2, and execute (sudo bash centos_bootstrap.sh)

Next, copy k8smaster.sh to M and execute.  Copy k8sworker.sh to N1 and N2 and execute.

Finally, copy the contiv

[2017-04-18 03:06] neelimamukiri commented on #121
@dojacobs, @gaurav-dalvi, the request is for an ansible based installer, that installs Contiv as host systemd services (https://github.com/contiv/ccn/issues/274). CC @unclejack

[2017-04-18 13:20] spirrello commented on #121
I'd be fine with Ansible installer....truth be told, I think a _step by step_ process would be better to allow the community to formalize their own automated process.

@dojacobs does the process you've posted accommodate a multi master setup?  Are there an inventory files that need to be prepopulated ahead of time?

[2017-04-18 22:48] dojacobs commented on #121
@spirrello : My process in Jenkins only handles the case of 1 master, multiple workers.

Jenkins runs the command:  terraform output , to get the list of IP#s of the VMs that were spun up.  The first IP is always assumed to be the master, whereas the others are assumed to be workers.  The master has the k8smaster.sh script run on it, whereas the workers have k8sworker.sh run on them.  Then the ins

[2017-04-19 15:17] spirrello commented on #121
Doug,

Are these the scripts you're referring to?

https://github.com/contiv/install/tree/master/cluster/k8s1.6

[2017-04-20 07:41] PhilipSchmid commented on #115
Hi @DivyaVavili,

I had the same problem and for me the problem was the following:

For some strange reasons Ansible requires an ECDSA private key (RSA is not working).

1. Therefore generate a ECDSA key using `ssh-keygen -t ECDSA`.
2. `sudo ssh-copy-id -i ~/.ssh/contiv_id_ecdsa.pub admin@192.168.X.X`
3. `./install/ansible/install_swarm.sh -f install/ansible/cfg.yml -e ~/.ssh/contiv_id_ecdsa -u ad

[2017-04-20 09:25] PhilipSchmid opened #124 "/run out of free space while using v2plugin:0.1"
Hi there,

I just realized on my 3 Docker Swarm nodes, that v2plugin:0.1 filled the /run partitions 100%..

[code]

[code]

[code]

Why do you place logs in `/run` and not `/var/log`? I also think a provided logrotate would be nice. Is there a way to lower the log verbosity to crit, warn or something like this?

Example log entries:
`/run/contiv/log/netplugin.log`:
[code]
`/run/contiv/log/netmaste

[2017-04-20 17:13] gaurav-dalvi commented on #115
@neelimamukiri Could you please take a look at this one ?

[2017-04-20 17:48] PhilipSchmid commented on #124
See [https://gist.github.com/gkvijay/e8e8f2a6a00c9887fb2abfb0adf742b3](https://gist.github.com/gkvijay/e8e8f2a6a00c9887fb2abfb0adf742b3)

[2017-04-20 17:53] PhilipSchmid commented on #124
Has nothing to do with [contiv/install](https://github.com/contiv/install) itself. I've moved it to [contiv/netplugin](https://github.com/contiv/netplugin) -> [https://github.com/contiv/netplugin/issues/843](https://github.com/contiv/netplugin/issues/843)

[2017-04-20 17:53] #124 closed

[2017-04-25 20:29] rhim commented on #106
Documentation needs to be updated at contiv.github.io as well. Not opening a different issue there.

[2017-05-10 23:16] neelimamukiri opened #129 "Allow installing Contiv (swarm installer) with one interface"

[2017-05-23 04:02] neelimamukiri opened #132 "Add gateway to default-net created by make demo-k8s"

[2017-05-24 06:38] #132 closed

[2017-05-24 17:10] #106 closed

[2017-05-26 15:50] neelimamukiri opened #137 "Kubeadm 1.6.x based install - pod scheduling"
It doesn't seem to be matching the specified taints. API proxy is trying to be scheduled on non master nodes. We need to check if the taints have changed and update the yaml files accordingly.

Symptom is that make demo-k8s fails with
*****************
0. Retry login to Contiv
1. Retry login to Contiv
2. Retry login to Contiv
...
20. Retry login to Contiv
Install FAILED
make[1]: *** [install-test-

[2017-05-27 02:43] #137 closed

[2017-05-27 04:09] yanyuxiyangzk opened #140 "Fail to installfor for contiv, failure prompt information is passwordless ssh"
Starting the installer container
Generating Ansible configuration
Using 172.17.0.2 as the master node
Verifying ansible reachability
WARNING Some of the hosts are not accessible via passwordless SSH

This means either the host is unreachable or passwordless SSH is not
set up for it. Please resolve this before proceeding.

[2017-05-27 04:10] yanyuxiyangzk commented on #140
contiv version  is  1.0.2

[2017-05-30 06:18] rkharya opened #141 "v2Plugin Install env.json errors"
Syntax errors in env.jason -

[root@NFS contiv-full-1.0.2]# diff env.json env.json.org
7c7
<   "service_vip":"10.65.122.61",
---

9c9
<   "cluster_store":"etcd://10.65.122.61:2379",
---

14,16c14,16
<   "auth_proxy_local_install": "True",
<   "contiv_network_local_install": "True",
<   "contiv_v2plugin_install": "True",
---

Due to these discrepancies, v2Plugin installation is failing. For now we

[2017-05-30 08:07] rkharya opened #142 "v2Plugin install fails on Existing Swarm cluster"
10 node cluster having 3 UCP manager, 3 DTR and 4 worker nodes. UCP manager nodes are designated as netmaster nodes. And below v2Plugin install command was used -

[root@NFS contiv-1.0.2]# ./install/ansible/install_swarm.sh -f install/ansible/cfg.yml -u root -e ~/.ssh/id_rsa -p
Generating local certs for Contiv Proxy
Starting the installer container
Generating Ansible configuration
Using 10.65.122

[2017-05-30 20:25] rhim commented on #121
@dojacobs the script you mention above uses kubeadm underneath.

@spirrello the ansible based install of contiv for k8s is WIP. Stay tuned.

[2017-05-30 20:25] #121 closed

[2017-05-30 20:29] gkvijay commented on #141
@rkharya, Hope you downloaded the tar file (in install instructions) for the new version. The comma seems to be there in the repo:
https://github.com/contiv/install/blob/master/install/ansible/env.json#L15

contiv_v2plugin_install will be set to False by default. Currently, you need to change it to True manually. I will push a change to automatically change it when the installer is run with "-p" o

[2017-05-30 20:48] rhim commented on #140
@yanyuxiyangzk can you please ensure that you can ssh onto the nodes specified in yaml without providing password?

[2017-05-30 21:02] gkvijay commented on #142
OVS kernel module is not present in this setup.
[root@DEE-Ctrl-3 ~]# lsmod | grep openvswitch
[root@DEE-Ctrl-3 ~]#

[2017-05-31 03:38] yanyuxiyangzk commented on #140
Well, i have three machines, which ip is 192.168.2.10,192.168.2.11,192168.2.12. The first noe 192.168.2.10 is docker container,and ssh to 192.168.2.11,192.16.8.2.12 for with out password to visit,eg ssh root@192.168.2.11 ,then login in it with out input password.
Then i perform this command ./install/ansible/install_swarm.sh -f install/ansible/cfg.yml -e ~/.ssh/authorized_keys -u root -i ,but a fa

[2017-05-31 05:16] rhim commented on #140
-e option requires you to specify the private key – so it will be something like ~/.ssh/id_rsa.

- Himanshu
     .:|:.:|:.

From: yanyuxiyangzk <notifications@github.com>
Reply-To: contiv/install <reply@reply.github.com>
Date: Tuesday, May 30, 2017 at 8:38 PM
To: contiv/install <install@noreply.github.com>
Cc: "Himanshu Raj (himansh)" <himansh@cisco.com>, Comment <comment@noreply.github.com>
Subje

[2017-05-31 06:17] rkharya commented on #141
@gkvijay, Yes we downloaded the tar file, as given in the installation instructions, for 1.0.2 only. I verified the missing 'comma' twice by extracting the tar ball twice. Surprisingly, its missing in the archive but code as you have shown, does have it. We may need to look it more closely as to where its breaking.

[2017-05-31 06:18] rkharya commented on #142
@gkvijay - Shouldn’t we take care of this dependancy like we are doing with ETCD? Reason for this ask, with RHEL distro openvswitch kernel module comes with RHEL’s openstack repo. Customer may have to buy additional licenses from RHEL to subscribe the openstack repo. Should we include openvswitch in our installer from open source repos or we should rely on RHEL for it and expect that they will sup

[2017-05-31 10:03] yanyuxiyangzk commented on #140
Well, i have three machines, which ip is 192.168.2.10,192.168.2.11,192168.2.12. The first noe 192.168.2.10 is docker container,and ssh to 192.168.2.11,192.16.8.2.12 for with out password to visit,eg ssh root@192.168.2.11 ,then login in it with out input password.
Then i perform this command ./install/ansible/install_swarm.sh -f install/ansible/cfg.yml -e ~/.ssh/authorized_keys -u root -i ,but a fa

[2017-05-31 16:43] rkharya commented on #142
Kernel module is present as part of stock RHEL OS install -
[root@DEE-Ctrl-1 ~]# modinfo openvswitch
filename:       /lib/modules/3.10.0-514.21.1.el7.x86_64/kernel/net/openvswitch/openvswitch.ko
license:        GPL
description:    Open vSwitch switching datapath
rhelversion:    7.3
srcversion:     80EF28CADBF25AC25BFDC73
depends:        nf_conntrack,nf_nat,libcrc32c,nf_nat_ipv6,nf_nat_ipv4,nf_defr

[2017-05-31 19:08] gkvijay commented on #142
Some directories needed for OVS are missing

[2017-05-31 19:32] #142 closed

[2017-06-01 01:34] neelimamukiri opened #146 "Dont switch to routing mode for ACI mode - k8s"

[2017-06-01 23:25] #146 closed

[2017-06-02 19:44] #141 closed

[2017-06-05 05:31] neelimamukiri opened #149 "Reset contiv_v2plugin_install to false for non-v2 plugin install cases"
Due to https://github.com/contiv/install/blob/master/install/ansible/install.sh#L139-L141, once you run the installer from an installation folder with V2 plugin install, you wont be able to run it with legacy swarm.
Also refactor the common auth_proxy part out from https://github.com/contiv/install/blob/master/install/ansible/install.sh#L157-L163

[2017-06-05 21:30] neelimamukiri opened #150 "Remove full build"
https://github.com/contiv/install/blob/master/scripts/build.sh#L149 needs to add a ","
Also add +e to the install script.

[2017-06-05 21:33] neelimamukiri commented on #150
Or better still remove the full build, there is no real use case for this anymore. Full build is slower than the minimal build, does the same exact installation.

[2017-06-05 21:47] gaurav-dalvi opened #151 "swarm based installer is not showing appropriate error"
[code]

[2017-06-05 21:48] gaurav-dalvi commented on #151
1: Need to display some error, which file is not in correct yaml syntax
2: Need to display error message in the end , rather than `Installation is complete` message.

[2017-06-06 06:26] #150 closed

[2017-06-06 18:11] #151 closed

[2017-06-06 22:13] gaurav-dalvi commented on #140
@rhim : can close this one ?

[2017-06-06 22:13] gaurav-dalvi commented on #149
@neelimamukiri : can we close this one ?

[2017-06-07 01:24] rhim commented on #140
Is this confirmed working?
- Himanshu
     .:|:.:|:.

On Jun 6, 2017, at 3:13 PM, Gaurav Dalvi <notifications@github.com<mailto:notifications@github.com>> wrote:

@rhim<https://github.com/rhim> : can close this one ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/contiv/install/issues/140#issuecomment-306632696>, or mute the

[2017-06-07 23:16] neelimamukiri opened #154 "Cleanup ansible playbook before starting a new run"
Currently we keep on appending and re-running additional playbooks

[2017-06-08 04:23] neelimamukiri opened #160 "v2plugin uninstall does not cleanly remove etcd"
I've tried with and without the -r option, both cases the v2 plugin left one of the master nodes with etcd running and did not delete the data dir for the other nodes.

[2017-06-08 05:12] neelimamukiri opened #161 "Alpine update broke ansible install"
So current release of contiv 1.0.3 is broken

[2017-06-08 06:50] neelimamukiri opened #162 "Don't update yum cache/install base packages for v2 plugin"

[2017-06-08 07:02] neelimamukiri commented on #149
No, this is an issue found in the merged code - its to be fixed.

[2017-06-09 04:05] #162 closed

[2017-06-09 04:05] #161 closed

[2017-06-09 04:05] #154 closed

[2017-06-09 04:05] #149 closed

[2017-06-09 17:44] gaurav-dalvi opened #165 "Second consecutive installation on contiv on k8s gives error"
on 1.0.3 build:

sudo ./install/k8s/install.sh -n $CONTIV_MASTER

It fails at this stage
[code]

If i trigger installation again it gives this error
[code]

[2017-06-09 17:46] dseevr commented on #165
This will be fixed as part of the updater stuff I am working on

[2017-06-09 18:01] gaurav-dalvi commented on #165
Ok thanks. But why error message is about aci key where I am not installing contiv in aci mode.

[2017-06-09 18:03] dseevr commented on #165
@gaurav-dalvi because a dummy value is written if no key is provided.  See:  https://github.com/contiv/install/blob/a1578eb328936937325dec18f2f99c72d2623970/install/k8s/install.sh#L214-L224

Line 224 shouldn't be run again if the key already exists.  That check is one part of the changes I am adding

[2017-06-09 18:21] neelimamukiri opened #166 "v2 plugin uninstall does not remove netctl"

[2017-06-09 18:22] neelimamukiri opened #167 "v2 plugin uninstall does not disable the plugin"
Is this by design?

[2017-06-09 18:59] gaurav-dalvi opened #169 "K8s installer does not work for contiv"
[code]

port 9999 is opened in Security Group.
Using 1.0.3 release.

[2017-06-09 23:48] rhim commented on #169
what's the environment?

[2017-06-10 01:33] patelrit commented on #169
We are seeing the exact same issue:

root@ritesh-test:~/contiv/contiv-1.0.3# ./install/k8s/install.sh -n 184.173.89.146
Installing Contiv for Kubernetes
secret "aci.key" created
Generating local certs for Contiv Proxy
Setting installation parameters
Applying contiv installation
To customize the installation press Ctrl+C and edit ./.contiv.yaml.
clusterrolebinding "contiv-netplugin" created
cluster

[2017-06-10 05:46] gaurav-dalvi commented on #169
I am trying to bring up on internal environment as a part of other task which I am working on. Ubuntu platform

[2017-06-10 19:28] rhim commented on #169
Folks

Please describe the platform:

Bare metal/VM, which virt platform
On prem/cloud
OS

-Himanshu

On Jun 9, 2017, at 10:46 PM, Gaurav Dalvi <notifications@github.com<mailto:notifications@github.com>> wrote:

I am trying to bring up on internal environment as a part of other task which I am working on. Ubuntu platform

-
You are receiving this because you commented.
Reply to this email directly

[2017-06-11 18:38] neelimamukiri commented on #169
@gaurav-dalvi, @patelrit, please provide the following information:
For k8s 1.6, you may have to export KUBECONFIG=/etc/kubernetes/admin.conf or your corresponding config file
kubectl version
kubectl get nodes
kubectl get pods -n kube-system
kubectl describe pods -n kube-system
cat /etc/hosts
systemctl status firewalld
Ports open on your firewall/security groups - specifically state of ports 6443,

[2017-06-11 19:58] gaurav-dalvi commented on #169
1:
[code]

2:
[code]

3:
[code]

4:
[code]

[2017-06-12 07:51] neelimamukiri commented on #169
@gaurav-dalvi, you have calico running on the pod and both the etcd instances are trying to use the same host port. Please retry on a clean setup.

[2017-06-12 13:33] rkharya opened #171 "v2Plugin 1.0.3 installer scripts left with 'set -x' resulting in too much verbosity"
[root@NFS ansible]# cat install.sh |more
#!/bin/sh

set -xeuo pipefail <<<<<<<<<< 'x' seems to be left inadvertantly

# This scripts runs in a container with ansible installed.
. ./install/ansible/install_defaults.sh
<snip>
<snip>

Resulting in un-pleasant verbosity -

[root@NFS contiv-1.0.3]# ./install/ansible/install_swarm.sh -f install/ansible/cfg.yml -u root -e ~/.ssh/id_rsa -p
Starting the in

[2017-06-12 14:44] rhim commented on #165
@gaurav-dalvi please run uninstall in between and see if you still see this issue

[2017-06-12 15:05] #140 closed

[2017-06-12 16:55] gaurav-dalvi commented on #171
@dseevr
is there any wrong with `set -xeuo pipefail` here ?

[2017-06-12 17:04] rkharya commented on #171
-x spewing every command used in the script, on the terminal. For customer use, installation doesn't look clean and gives an impression that we are running it in de-bug mode.
'set -euo pipefail' is ok.

[2017-06-12 17:24] dseevr commented on #171
@gaurav-dalvi yeah, `set -x` can be removed here, though it is (as stated) sometimes useful for debugging :)

[2017-06-12 19:32] patelrit commented on #169
Here is the requested info:

Platform: Ubuntu 16.04.2 LTS VMs on IBM SoftLayer

root@cluster1:~/contiv/contiv-1.0.3# cat /etc/hosts
127.0.0.1	localhost.localdomain	localhost
50.97.198.5	cluster1.nirmata.com	cluster1
127.0.1.1	cluster1.nirmata.com	cluster1.nirmata.com

50.97.198.5 netmaster
root@cluster1:~/contiv/contiv-1.0.3#
root@cluster1:~/contiv/contiv-1.0.3#
root@cluster1:~/contiv/contiv-1.0.3

[2017-06-12 19:47] patelrit commented on #169
Pod details

[code]

[2017-06-13 23:22] neelimamukiri commented on #169
@patelrit , looks like your netplugin containers are in a crash loop. Can you post the contents on /var/contiv/log/netplugin.log here

[2017-06-13 23:23] neelimamukiri commented on #171
@rkharya, we added it to aid with debugging. It helped debug in your setup as well. We could stop showing it in the console as it is redirected to the log file anyway.

[2017-06-13 23:31] patelrit commented on #169
Here is the log:

root@cluster1:~# cat /var/contiv/log/netplugin.log

time="Jun 13 01:43:39.825962264" level=error msg="Failed to connect to
etcd. Err: client: etcd cluster is unavailable or misconfigured"

time="Jun 13 01:43:39.826034103" level=error msg="Error creating client
etcd to url 50.97.198.5:6666. Err: client: etcd cluster is unavailable or
misconfigured"

time="Jun 13 01:43:39.826044294

[2017-06-14 03:15] rchirakk opened #175 "netmaster/netplugin restart"
https://github.com/contiv/install/blob/6a0bea78dcb0cfc55004f53034df4e86c515d6f0/install/k8s/install.sh#L202
start etcd before netplugin/netmaster
[code]

[2017-06-14 17:11] rkharya opened #176 "'Docker network rm' to remove contiv network, does not remove the network completely"
DEE - 17.03
Contiv - 1.0.3 installed using latest installer on already created DEE swarm cluster
Followed Docker workflow (#5) as documented - https://gist.github.com/gkvijay/e8e8f2a6a00c9887fb2abfb0adf742b3

1. [root@DEE-Ctrl-C-1 ~]# netctl global info
Fabric mode: default
Forward mode: bridge
ARP mode: proxy
Vlan Range: 1-4094
Vxlan range: 1-10000
Private subnet: 172.19.0.0/16

2. Created contiv

[2017-06-14 17:52] gaurav-dalvi commented on #176
how long did you wait once u deleted network using netctl ? We have seen sometimes it takes time to report that to docker and clean up state from docker.

@dojacobs : You have see similar issues before right ?

[2017-06-14 18:50] neelimamukiri opened #177 "Allow k8s API server IP to be different from the netmaster IP"
This will allow for cases where k8s is setup to use the public IP for the API advertise address and Contiv can continue to use private IPs. Listen/Control URL separation may also help here for netplugin to use both public & private IPs.

[2017-06-14 20:14] neelimamukiri commented on #169
@patelrit, I will need to take a look at your setup. Please ping me on contiv slack and we can setup a Webex to debug further.

[2017-06-15 01:57] rkharya commented on #176
@gaurav-dalvi : Its 12 hours now, network still present.

[2017-06-16 22:52] gaurav-dalvi opened #179 "get_latest_release.py does not work"

[2017-06-16 22:52] gaurav-dalvi commented on #179
[code]

[2017-06-16 23:12] dseevr commented on #179
Is this a python 2 vs python 3 issue?

[2017-06-16 23:18] gaurav-dalvi commented on #179
no idea. i tried to use it . It failed. so have this fix.

[2017-06-16 23:19] dseevr commented on #179
Which version of python are you using?

[2017-06-16 23:21] gaurav-dalvi commented on #179
I always use python 2.7.x Nobody uses python 3

[2017-06-16 23:24] dseevr commented on #179
Ok, this is a legit issue... for some reason, we're not getting a 200 OK back from Github and we're calling `sys.exit()` without importing `sys`

Also, this doesn't work on Python 3 because we're not using `print` as a function 😄

[2017-06-16 23:24] dseevr commented on #179
Closed in https://github.com/contiv/install/pull/180

[2017-06-16 23:24] #179 closed

[2017-06-17 01:29] patelrit commented on #169
Quick update....it appears that the installer assumes that kubernetes is deployed using kubeadm so all the node labels are correctly setup. In my case, I did not use kubeadm to install k8s but a different tool so the node-role.kubernetes.io/master="" label was missing and as a result the installation failed.

It may be good to document this requirement (the label) and also maybe check for it in th

[2017-06-17 18:46] gkvijay commented on #176
We don't seem to get Endpoint delete from docker for the following endpoint. Docker daemon logs have rolled over.
time="Jun 14 10:07:10.528037518" level=info msg="Handling "create endpoint" event from libnetwork"
time="Jun 14 10:07:10.528086023" level=info msg="CreateEndpointRequest: {NetworkID:0xbb2wy792xxy2c5awnpcbmou EndpointID:8e645a86ec7c2065600ceaae972f126d9ed53a66ebe6a961d5d9e58f8cde6a82 In

[2017-06-19 08:13] sisudhir opened #182 "v2 NetPlugin - Vlan range with -p option doesn't work"
1. Used the command below to create a contiv network with pkt tag set to a vlan range:
netctl network create test-net -s 100.200.200.0/24 -g 100.200.200.254 -e vlan -p 2001-2005
Creating network default:test-net

2. 'netctl network ls' shows the network getting listed with the pkg tag 0
[root@DEE-Ctrl-C-1 ~]# netctl network ls
Tenant   Network                    Nw Type  Encap type  Packet tag  Su

[2017-06-19 08:25] sisudhir opened #183 "v2plugin - vlan pkt tag -p value set to '?' still works - expected to give help option"
1. While creating network with vlan pkt tag -p value set to ?, the network gets created without erroring out:
[root@DEE-Ctrl-C-1 ~]# netctl network create test-net1 -s 200.200.200.0/24 -g 200.200.200.254 -e vlan -p ?
Creating network default:test-net1
**Network got created**
2. 'netctl network inspect' shows that the vlan pkt tag is given 2 as the vlue:
[root@DEE-Ctrl-C-1 ~]# netctl network inspec

[2017-06-21 18:33] #166 closed

[2017-06-21 18:33] #160 closed

[2017-06-21 18:37] gkvijay commented on #160
contiv/ansible#359 should take of this as well

[2017-06-21 21:41] neelimamukiri opened #191 "Create k8s token randomly for Vagrantfile"

[2017-06-21 22:40] romiljainb opened #194 "Installation failure due to missing ovs from repo"
Trying to install contiv 1.0.1 or 1.0.3 on ubuntu hosts on AWS and getting this error:

TASK [contiv_network : install ovs-common (debian)] ****************************
fatal: [node1]: FAILED! => {"cache_update_time": 1498084089, "cache_updated": false, "changed": false, "failed": true, "msg": "'/usr/bin/apt-get -y -o \"Dpkg::Options::=--force-confdef\" -o \"Dpkg::Options::=--force-confold\"     i

[2017-06-22 01:48] #194 closed

[2017-06-22 01:49] romiljainb commented on #194
Uninstalled and re-installed several times and it just worked. I have had this issue before where sometimes 1 or 2 tasks do not get installed properly or at all and after several tries those tasks get installed properly.

[2017-06-26 23:37] Hemakuma opened #200 "uninstall gives error"
The connection to the server localhost:8080 was refused - did you specify the right host or port?

contiv version: 1.0.3
k8s version:
[hemakuma@K8S-1 ~]$ kc version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.6", GitCommit:"7fa1c1756d8bc963f1a389f4a6937dc71f08ada2", GitTreeState:"clean", BuildDate:"2017-06-16T18:34:20Z", GoVersion:"go1.7.6", Compiler:"gc", Platform:"linux/a

[2017-06-26 23:39] Hemakuma opened #201 "Contiv stops working after reboot of the master"
Everything was working fine but when i rebooted the master, contiv did not come up.  I tried to uninstall but go the following error:
The connection to the server localhost:8080 was refused - did you specify the right host or port?

[2017-06-27 05:07] gaurav-dalvi commented on #200
please provide details. Its impossible to know your problem by the description you have provided.

[2017-06-27 05:08] gaurav-dalvi commented on #201
please provide details. Its impossible to know your problem by the description you have provided.

contiv version
k8s version
contiv running as binary or from container ?
host os ?

[2017-06-27 10:11] bhavenger opened #202 "Install process is terrible"
Hi!
If you were hoping that the installation process will be simple with these scripts - you just did it wrong. Instead of having to install according to the instructions in the documentation (put this here, put that here), I have to read the bash script and ansible roles, forced his way to this knowledge. Please make a separate manual for installation without any automation?

[2017-06-27 16:20] neelimamukiri commented on #202
Thanks for the feedback.
For k8s you can use kubectl apply -f <files in https://github.com/contiv/install/tree/master/install/k8s/k8s1.6> after manually configuring them.
Pre 1.6 versions of k8s need https://github.com/contiv/install/tree/master/install/k8s/k8s1.4.

Contiv on Docker currently has two mechanisms for installation - install as a systemd service and install as a docker container. We w

[2017-06-27 18:50] dseevr commented on #191
If you just need some random alphanumeric (lowercase) characters:

[code]

[2017-06-27 18:54] dseevr commented on #171
I'm not sure which commit this was changed in, but none of our bash scripts are setting `-x` now.

The `1.1.0` release will therefore not have it enabled

[2017-06-27 18:54] #171 closed

[2017-07-02 00:32] joshwget commented on #202
Definitely looking forward to a Kubernetes based installation that's simply `kubectl apply -f ...`. Removing the dependency on Ansible and host requirements like Python would be great.

[2017-07-03 06:58] neelimamukiri commented on #202
@joshwget, the Kubernetes based installation to use with kubectl apply is available at https://github.com/contiv/install/tree/master/install/k8s/k8s1.6 as mentioned above. Specifically, please see the `contiv.yaml` for reference.

[2017-07-05 21:09] rchirakk commented on #175
Another change to make:
start netmaster before netplugin

[2017-07-05 21:40] dseevr commented on #175
Per the private issue we had to track this, starting etcd before the other services actually made the problem worse.  Both nodes in the demo environment come up in the wrong mode.

We should probably have an issue to track making netplugin resilient against an unready data store in general

[2017-07-06 09:22] danielcra commented on #169
Had the same problem and it turned out it was because openvswitch was running from a previous experiment. Stopping ovs solved it.

`# kubectl logs contiv-netplugin-0d336 -n kube-system
ovs-vsctl: no bridge named contivVlanBridge
ovs-vsctl: no bridge named contivVxlanBridge
Initializing OVS
The Open vSwitch database exists
Starting ovsdb-server...
2017-07-06T09:02:11Z|00001|vlog|WARN|failed to open

[2017-07-06 21:48] neelimamukiri opened #204 "Make-demo updates"
Add vagrant user to docker group.
Have a make target to ssh to a master node.
For swarm demos, set DOCKER_HOST to the user profile

[2017-07-06 22:22] neelimamukiri commented on #200
Is your KUBECONFIG set correctly? Can you run regular `kubectl` commands?

[2017-07-06 22:23] neelimamukiri opened #205 "K8s Installer - allow changing the SVC_SUBNET"

[2017-07-15 00:33] robotica72 commented on #202
Im with the others on this one - we were going to look at Contiv for our PoC and to be honest, the install is such a mess, I'm not sure we can realistically look at using it....

[2017-07-15 23:33] robotica72 opened #217 "K8s 1.6 - Netmaster cant get started"
Hoping someone can help out - I have yet to get Contiv fully running - I am to the point where at least ETCD and the netplugin working but the default install for the netmaster never works - by default it scheduled on the master but I used Kismatic for my K8s and my master is set to notscheduled so of course it cant create the POD.   If I set it to a worker node by editing the RS yaml and it wont

[2017-07-18 16:50] gaurav-dalvi opened #218 "installer is not working - legacy swarm + docker and aci mode"
[code]

[10:40]
[code]

using 1.1.0-rc.1 release.
Command to repro this issue :

./install/ansible/install_swarm.sh -f ../aci-cfg.yml -e ~/.ssh/id_rsa.test -u admin -m aci -v "gauravdalvi/gau-aci-gw"

[2017-07-18 18:14] neelimamukiri commented on #218
@gaurav-dalvi, please attach the install log files (or provide access to the setup on slack).

[2017-07-18 18:20] neelimamukiri commented on #217
@robotica72, you can edit the .contiv.yaml file and change it to either specify a different node selector where you want to run your contiv control plane.

[2017-07-18 19:22] neelimamukiri commented on #218
@gaurav-dalvi, `-i` is not specified and there is no docker/scheduler pre-installed.

[2017-07-18 19:22] #218 closed

[2017-07-19 06:05] gaurav-dalvi commented on #218
we should fail with appropriate error in this case.

[2017-07-19 16:41] dirkwoellhaf opened #221 "Contiv 1.1 - Netmaster entry not added to /etc/hosts by installer"
Installer does not add "netmaster" entry in /etc/hosts, therefore "netctl" does not work on any of the hosts

Contiv 1.1
CentOS Linux release 7.3.1611 (Core)

Used installer:
install_swarm.sh -f aci_cfg.yml -e /root/.ssh/id_rsa -u root -m aci -i

[2017-07-19 23:01] neelimamukiri commented on #221
Are you trying to access from a master node or a worker node?

[2017-07-20 00:43] gaurav-dalvi opened #222 "legacy swarm + contiv-1.1.0-rc.1 , netmaster entry is not getting added to /etc/hosts"
When you run installer, netmaster entry is not getting added to /etc/hosts file. Because of that we are not able to talk to netmaster using netctl CLI.

Once u add entry manually everything works fine.

[2017-07-20 00:46] neelimamukiri commented on #222
Duplicate of https://github.com/contiv/install/issues/221 .

Lets handle the discussion there.

[2017-07-20 00:49] gaurav-dalvi commented on #221
also for each install,

installer adds `127.0.0.1 localhost` in /etc/hosts.

[2017-07-20 01:01] gaurav-dalvi commented on #221
Also, uninstall script does not clear previous contiv objects.
After uninstall i still see this :

[code]

[2017-07-20 05:11] neelimamukiri commented on #221
Did you uninstall with -i & -r? @gaurav-dalvi

[2017-07-20 05:16] gaurav-dalvi commented on #221
did with `-i`

[2017-07-20 05:18] gaurav-dalvi commented on #221
To uninstall Contiv and Docker Legacy Swarm with ACI support:
./install/ansible/uninstall_swarm.sh -f aci_cfg.yml -e <ssh key> -u <username> -i -m aci

followed this . But there is last line :
Note: Adding the -r flag, will cleanup any Contiv state.

[2017-07-20 06:25] #222 closed

[2017-07-20 06:28] neelimamukiri commented on #221
@dirkwoellhaf , please ignore my previous question. I got a repro setup from @gaurav-dalvi and the PR is out for the fix.

[2017-07-20 16:57] #221 closed

[2017-07-21 00:07] robotica72 commented on #217
@neelimamukiri Thanks - I did try that and selected a worker node, but it still wouldn't start.  Ill need to try it again to get the error for more information - I did have Calico installed, but removed it before installing Contiv - It looks like it cleanly uninstalled, so hoping that isnt causing any issues.

[2017-07-24 16:36] neelimamukiri commented on #200
This should be resolved with 1.1.

[2017-07-24 16:36] #200 closed

[2017-07-24 16:38] neelimamukiri commented on #217
@robotica72, please feel free to reach out on Contiv slack once you have the setup - https://contiv.herokuapp.com/.

[2017-07-26 11:03] PhilipSchmid opened #229 "Installation fails: tar vxjf /tmp/netplugin-1.1.1.tar.bz2 netctl contrib/completion/bash/netctl"
Hi there,

When I try to install Contiv on a new setup Docker Swarm cluster, I get the following error message:

[code]

Docker version: `Docker version 17.06.0-ce, build 02c1d87`
Contiv version: 1.1.1

Any guess how to fix this? Thanks.

Regards,
Philip

[2017-07-26 11:43] PhilipSchmid commented on #229
FYI: The problem also exists in Contiv 1.1.0..

[2017-07-26 12:35] PhilipSchmid commented on #229
Problem solved. Well the statement above was correct. The problem was that the `bzip2` package was not installed on the CentOS... Perhaps you guys would like to add a check for that in Ansible to ensure `bzip2` is present before trying to install v2plugin?

Thanks.

Regards,
Philip

[2017-07-28 19:56] vallard commented on #202
@neelimamukiri while it's true there is a really great contiv.yaml file, the fact remains that in order to use this contiv.yaml file you have to have all the prereqs setup from the installation script, which makes it much more complicated.  I agree with @bhavenger that it may be useful to have documentation as to what the script does so people can create their own automated tools.  Otherwise it ma

[2017-08-04 07:19] gaurav-dalvi opened #231 "Need cert based auth for contiv/aci-gw container"
We use username and password of APIC to start aci-gw image.  Customer is using cert based auth and thats we need to provide that option in our installer for testing purpose.

Something like this
[code]

[2017-08-07 18:32] mkoshti opened #232 "make[1]: *** [vagrant-clean] Error 127"
I am getting

make[1]: *** [vagrant-clean] Error 127

I do have vagrant install but not sure why. I did try to take a look blog but does not seems

Thanks
Manoj

[2017-08-07 18:34] gaurav-dalvi commented on #232
Could you please give more details ?
What command did you use ?
How do we reproduce this problem ?
etc.

[2017-08-07 18:38] mkoshti commented on #232
I am using this install process and see few issues. Before I got that error. I am not sure if I am doing right install process.
http://contiv.github.io/documents/tutorials/container-101.html

osxmkoshmbp:~ mkoshti$ vagrant box add --name centos/7 CentOS-7-x86_64-Vagrant-1703_01.VirtualBox.box

==> box: Box file was not detected as metadata. Adding it directly...

==> box: Adding box 'centos/7' (v0

[2017-08-07 18:40] dseevr commented on #232
You can skip the step which manually downloads the Vagrant box.  The `make demo-legacy-swarm` and other `demo-*` targets will automatically download the boxes as necessary.

Do you have VirtualBox installed?  The `vagrant-clean` target just does a bunch of VirtualBox cleanup commands.

[2017-08-07 18:42] gaurav-dalvi commented on #231
I will work on this one. I dont have permission to add this to myself.

[2017-08-07 20:01] neelimamukiri commented on #231
@gaurav-dalvi  FYI, from the install side, for Kubernetes:
On the installer side we pass APIC_CERT_DN as
https://github.com/contiv/install/blob/master/install/k8s/install.sh#L267.
ACI Cert DN is the -z param: https://github.com/contiv/install/blob/master/install/k8s/install.sh#L164
ACI Cert key is the -y param:
https://github.com/contiv/install/blob/master/install/k8s/install.sh#L161

https://gith

[2017-08-07 20:13] gaurav-dalvi commented on #231
Thanks for pointers. I tried putting DN string in contiv_network role in ansible, but that did not work. Let me take close look again.

[2017-08-11 12:05] laywin opened #233 "k8s installer problem"
hello,i followed the installer tutorial get the problem that dns container can't be created
kubectl get pods -n kube-system
![image](https://user-images.githubusercontent.com/22276474/29212212-da4ada50-7ecf-11e7-881e-9934d85170bf.png)

kubectl describe pod kube-dns-3913472980-4g8pr -n kube-system
![image](https://user-images.githubusercontent.com/22276474/29212269-2f3469d2-7ed0-11e7-80a1-83ae17bc2

[2017-08-11 16:52] neelimamukiri commented on #233
kube-dns needs a default network to be started and also to be on a network that can connect to the host. You can create a default network using something like `netctl net create default-net -s 20.1.1.0/24 -g 20.1.1.1`.
If you are using vxlan mode and configured for routing `contivh1` infra network provides the host access. You can check if `contivh1` exists by running `netctl net ls`

[2017-08-14 03:19] laywin commented on #233
thanks for your reply,i create default network but another problem come out:

![image](https://user-images.githubusercontent.com/22276474/29257150-31922ef8-80e2-11e7-974f-4dad868559b5.png)

![image](https://user-images.githubusercontent.com/22276474/29257154-46308080-80e2-11e7-9d71-0c713aab497f.png)

[2017-08-14 17:33] neelimamukiri commented on #233
Does `kubectl get pods -n kube-system` show all pods running? Can you get the logs for /var/contiv/log/netplugin.log?

[2017-08-15 01:51] laywin commented on #233
hello,i get the logs,my kubernetes version is 1.6.1,contiv is 1.1.1.

kubectl get pods -n kube-system
![image](https://user-images.githubusercontent.com/22276474/29298963-1b030be6-819e-11e7-9d6f-48fa86671d73.png)

/var/contiv/log/netplugin.log
![image](https://user-images.githubusercontent.com/22276474/29299081-cd92d46c-819e-11e7-9d91-9b817948ed9f.png)

kubectl logs contiv-netplugin-c7277 -n kube-

[2017-08-15 03:28] laywin commented on #233
i change the k8s version to 1.6.5, everything is ok...

[2017-08-15 04:21] neelimamukiri commented on #233
Kubeadm 1.6.0 & 1.6.1 won't work with Contiv installed as pods due to https://github.com/kubernetes/kubernetes/issues/44041. https://github.com/contiv/install also lists 1.6.2+ as a requirement.

[2017-08-15 04:21] #233 closed

[2017-08-15 18:04] neelimamukiri opened #234 "Contiv uninstall for v2plugin does not remove etcd"

[2017-08-23 21:07] neelimamukiri opened #237 "Add make demo/make release-test target for kubespray"

[2017-08-24 07:01] rkharya opened #240 "Contiv 1.1.1 v2Plugin UI has hard requirementress of tenant created first via CLI to make progress"
1) Freshly installed v2Plugin 1.1.1 on a newly build bare metal system of 4 nodes having DEE 17.06 pre-installed in native swarm mode.
2) Logged in to Contiv UI for the first time and 'run wizard' option is shown
3) Unless you follow through 'run wizard' there you can not move forward on using the UI
4) After clicking on run wizard and keeping settings to network default and skipping ACI settings,

[2017-08-24 07:23] rkharya opened #241 "Contiv 1.1.1 UI doesn't list out Group Tag used while creating groups"
'netctl` cli does show this as a value to `CfgdTag`, where as we do not see this value through UI. This is important to know the tag value, in-order to create Docker Network for a group attached to specific contiv back-end network.

There is mismatch in information display between UI and CLI.
![screen shot 2017-08-24 at 12 49 58 pm](https://user-images.githubusercontent.com/12057795/29654521-3120b

[2017-09-12 01:53] wangxfbelieve opened #245 "The v2plugin can't removed when executed the uninstall command"
When I exectued the follow command that uninstall the contiv，
`./install/ansible/uninstall_swarm.sh -f cfg.yml -e <ssh key> -u <username> -p`
It's fine.
But reinstall the contiv, the error was occur,
`TASK [contiv_network : install v2plugin on master nodes] ***********************
fatal: [node1]: FAILED! => {"changed": true, "cmd": "/usr/bin/docker plugin install --grant-all-permissions contiv/v2p

[2017-09-12 04:42] rkharya commented on #245
yeh, this is a bug. We have to remove explicitly using `docker plugin rm contiv/v2plugin:1.1.2` on each cluster nodes. If we don't, contiv installer fails to install contiv next time.

[2017-09-12 08:32] wangxfbelieve commented on #245
@rkharya Thx for your response and Did the patch merge?

[2017-09-12 09:34] wangxfbelieve opened #246 "The master node can't access when the v2plugin was installd."
The master node can't access when the v2plugin was installd.
`TASK [contiv_network : install v2plugin on master nodes] ***********************
changed: [node1]

TASK [contiv_network : for v2 plugin, extract netctl binary] *******************
fatal: [node1]: UNREACHABLE! => {"changed": false, "msg": "timed out", "unreachable": true}
	to retry, use: --limit @/ansible/install_plays.retry

PLAY RECAP

[2017-09-12 10:41] sisudhir opened #247 "Installing Contiv on a newly added worker node fails on a swarm cluster"
We have a 10 node swarm cluster in which the first three nodes are contiv masters and the rest of them are contiv workers. Added a new worker node into this cluster - swarm join succeeds  without any issue where as installing contiv on the added node fails.

1) We used cfg.yml to have only new node as on a non-master role. -
TASK [contiv_network : install v2plugin on master nodes] ****************

[2017-09-12 16:37] rchirakk commented on #247
@neelimamukiri ^^
@sisudhir  is the error log for adding node-10 ?
I see ansible failure for node1,node2,node3

[2017-09-12 17:49] rhim commented on #247
Cristian can help out on this. @rchirakk please ask any clarifying questions as appropriate. Thanks.

[2017-09-13 06:55] sisudhir commented on #247
@rchirakk - We have followed the same steps as you have suggested above. Here are the logs -

1) Installer play recap -

node11                     : ok=8    changed=4    unreachable=0    failed=0

2) Node11 -> DEE-Wrk-5 has this `docker plugin ls` status -

[root@DEE-Wrk-5 ~]# docker plugin ls
ID                  NAME                DESCRIPTION         ENABLED

3) `etcdctl cluster-health` ran on

[2017-09-13 14:51] rhim commented on #247
Looks like our ansible should have a check step. Blindly reinstalling will fail.

-Himanshu

On Sep 12, 2017, at 11:55 PM, sisudhir <notifications@github.com<mailto:notifications@github.com>> wrote:

@rchirakk<https://github.com/rchirakk> - We have followed the same steps as you have suggested above. Here are the logs -

  1.  Installer play recap -

node11 : ok=8 changed=4 unreachable=0 failed=0

[2017-09-13 14:57] unclejack commented on #247
I'm working on this.

[2017-09-14 15:56] rhim commented on #247
@dojacobs also has a repro in our lab

[2017-09-14 17:07] dojacobs commented on #247
What I did was use the QA-Jenkins Netplugin-End-To-End job I've written to test Contiv.

First, I ran it with the following parameters:
Platform = vcenter
Orchestrator = docker-swarm
DockerVersion = v2plugin
Cleanup = off (so it would leave everything in place.)

This job spins up 3 centos VMs, installs Docker-Swarm on them, then installs Contiv using the method as described in the documentation.

[2017-09-15 21:01] neelimamukiri opened #248 "Contiv install fails with the latest CentOS vagrant box"

[2017-09-15 21:02] neelimamukiri commented on #248
vagrant box remove centos/7; make demo-kubeadm to repro the issue.

[2017-09-20 18:20] rhim commented on #247
@unclejack can you please update the issue/PR with testing steps?

[2017-09-22 22:30] g1rana opened #252 "Contiv v2 plugin fail to come up after docker service restart"
**Issue** : Contiv v2 plugin is getting failed to come up after Docker service restart

**Root-cause:**  In current swarm installation, Contiv v2plugin and ETCD start as container Contiv-v2plugin(Start in context of docker daemon)  has dependency on ETCD and ETCD container has dependency at  docker daemon. Due to this cycle dependency , docker service restart couldn't enable the v2plugin.

**Sugge

[2017-09-23 08:16] unclejack commented on #252
@g1rana The second approach would be better. The first approach would make things difficult and we'd have to maintain that in the future.

[2017-09-25 23:19] #248 closed

[2017-09-29 20:14] rhim commented on #247
tested via e2e CI testing.

[2017-09-29 20:14] #247 closed

[2017-09-29 22:02] kahou82 commented on #241
This is an UI bug. The fix is in https://github.com/contiv/contiv-ui/pull/300.

[2017-10-05 10:37] sisudhir commented on #247
Tested the behavior with Build 1.1.3 and found that the fix is working as expected. We added a new node details in the cfg.yml without changing any other configs and were able to install Contiv on the new node added on to the existing Swarm cluster.

[2017-10-09 23:55] #240 closed

[2017-10-31 04:07] KeithTt opened #282 "does the latest contiv supports k8s-1.8x?"
as the title..

[2017-10-31 05:17] dseevr commented on #282
Hi @KeithTt,

I've tested it up to k8s 1.7.5 and it worked successfully.  I'm not sure if anyone has tested on 1.8 yet...

[2017-10-31 11:27] KeithTt commented on #282
all right , thanks!

[2017-10-31 11:27] #282 closed

[2017-10-31 18:18] dseevr commented on #241
This fix was included in 1.1.5.  Please reopen if you encounter any issues

[2017-10-31 18:18] #241 closed

[2017-11-01 18:42] kahou82 commented on #176
https://github.com/contiv/netplugin/pull/1029

[2017-11-01 18:42] #176 closed

[2017-11-03 17:07] mkhaas opened #286 "Kube-dns pods don't come up with K8 1.8"
oot@madhu-contiv-linux-0:~# export VERSION=1.1.6
root@madhu-contiv-linux-0:~# curl -L -O https://github.com/contiv/install/releases/download/$VERSION/contiv-$VERSION.tgz
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   606    0   606    0     0   1699      0 --:--:-- --:--:-- --:--:--

[2017-11-06 06:24] sisudhir opened #287 "contiv 1.1.6 installtion fails: as the path to netplugin-1.1.6.tar.bz2 is not available"
**Description**: Installation of Contiv 1.1.6 full version failed with an error "*Unable to find '/var/contiv_cache/netplugin-1.1.6.tar.bz2' in expected paths*".

**Steps followed**:
1. On the master node of the docker swarm cluster, downloaded the full version installer bundle using:
_curl -L -O https://github.com/contiv/install/releases/download/$VERSION/contiv-full-$VERSION.tgz_
2. Untared the

[2017-11-06 18:54] chrisplo commented on #287
@sisudhir Please try again with updated release full installer

[2017-11-08 02:18] moonek opened #294 "Failed to install contiv on kubeadm."
### Environment
- OS: Ubuntu 16.04 (Virtualbox + Vagrant)
- Docker: 1.12.6
- K8S: 1.8.2
- Contiv: 1.1.6
- Internet is blocked. (Using proxy)

### This is the command I executed.

[code]

### All pods are running.
[code]

### A persistent error log is generated in the contiv-netmaster container, such as a failure statement.
[code]

### After that, netctl can not be used.
[code]

[2017-11-08 06:55] tiewei commented on #294
do you mind provide a full log for the netplugin on node kube-dns is running  ?

[2017-11-08 08:21] moonek commented on #294
It was a proxy configuration problem in my environment.
I added `netmaster` to `no_proxy` and it succeeded cleanly.
I will close the issue.

[2017-11-08 08:21] #294 closed

[2017-11-08 19:56] amccormi commented on #183
'netctl network ls' lists the configured state of the network, thus if the vlan pkt tag isn't specified, it will be 0, whereas 'netctl network inspect' lists the operational state, including the pkt tag value assigned. What you are seeing is expected behavior.

[2017-11-13 16:43] sisudhir opened #296 "Adding a new master node to the existing cluster fails"
**Description**:
Tried to add a new contiv master to the existing cluster with - 3 master nodes and 7 worker nodes. The addition of master node failed; however, when we tried to add a new node as a worker to the exiting cluster, the installation was successful on the new node.

**Requirement**:
This is a test case where you add more cluster nodes and scale the master nodes so that you can have a 5

[2017-11-13 17:21] kahou82 commented on #296
@sisudhir we don't have automation to scale additional master node right now. This will be a feature enhancement.

[2017-11-14 04:02] KeithTt opened #298 "Failed to load TLS key pair: open /var/contiv/auth_proxy_cert.pem: no such file or directory"
kube version: 1.8.2
docker version: 17.06.2-ce
etcd version: 3.2.9
OS version: debian stretch

[code]

how to add this pem...

[2017-11-14 07:29] KeithTt commented on #298
I have two masters, and I add the label `kubeadm.alpha.kubernetes.io/role=master` to both of them, I just copy the pem file to the assigned node  and the pod works.

[code]

And I open the dashboard, it seems everything is working.

[2017-11-14 07:29] #298 closed

[2017-11-14 08:24] KeithTt opened #299 "Error syncing pod, Failed create pod sandbox."
kube version: 1.8.2
docker version: 17.06.2-ce
OS version: stretch

After replacing calico with contiv, I scale the replicas of heapster from 1 to 3, but the other two pods pending, then I delete the deployment of heapster and create it again, and they all pending with same errors below:

[code]

And there are many errors in the log:

[code]

It seems permission denied.

[2017-11-14 08:34] KeithTt commented on #299
@dseevr

[2017-11-14 23:59] dseevr commented on #299
@rchirakk @g1rana any idea on this?

[2017-11-15 08:16] kahou82 commented on #183
https://github.com/contiv/netplugin/pull/1069/files

[2017-11-16 14:04] kahou82 commented on #182
@sisudhir We don't support range. Is there any documentation indicate we do?

[2017-11-17 10:24] KeithTt commented on #299
update:

I found that I can not create any new pod, all of them report the same errors.

Then, I clean the the data of etcd in `/var/lib/etcd/`, and reset the kubernetes cluster, then start them, also report the same error.

Finally, I clean the data of docker and restart docker, then the new pods worked. But, I found dashboard can not be accesed, it can be accessed before.

[code]

[2017-11-17 21:13] KeithTt commented on #299
Resolved by `rmmod openvswith`, please ignore this issue.

[2017-11-17 21:13] #299 closed

[2017-11-18 07:15] kahou82 commented on #287
This is verified by @sisudhir

[2017-11-18 07:15] #287 closed

[2017-11-18 07:16] #183 closed

[2017-11-18 07:16] #182 closed

[2017-11-19 18:48] KeithTt opened #309 "How to disable `ovsdb-server` and `ovs-vswitchd` process start automatically when system start?"
os version: debian stretch

I found that there is a process `ovsdb-server` always exists, even if uninstall all the components:

[code]
[code]

[2017-11-19 19:02] KeithTt commented on #309
Sorry, I install a `openvswitch-switch` package...

[code]

Close it.

[2017-11-19 19:02] #309 closed

[2017-11-30 18:43] amccormi commented on #286
This has been fixed in release 1.1.7

[2017-12-05 10:33] seanhig commented on #202
Sadly, I have to concur with the sentiment of this issue.  We are also doing a POC, and Contiv held a lot of promise in the documentation... until I went to install it.  Is anyone even using this outside of Vagrant?  Minimal documentation is good for products that just work.  This does not appear to be one of those.  I've had to resort to reverse engineering just to install, sort of a red flag.

A

[2017-12-05 10:58] seanhig opened #313 "Install: [Errno 16] Device or resource busy"
Docker Version: 17.09
CentOS 7 (1708) base
Existing docker native swarm
Remote API TLS secured on 2376
Firewalld disabled (all ports open)

Apologies if I should be posting this in the ansible project, the repo layout is a bit confusing.  I assume (hope) the same folks are working on both projects.

I am performing the install steps on the one manager node in a four node docker swarm.  Swarm is fu

[2017-12-05 15:41] vallard commented on #202
Can any of the developers comment on plans to fix this?  Is there something we as the community can do to make this better?  I can't see how there would be anything that is higher priority than this issue.  It doesn't matter how many features you have, nobody is going to use it unless they can install it.  I've automated the process of installing this in KUBAM (https://kubam.io) but it still isn't

[2017-12-15 07:22] KeithTt opened #319 "Does contiv support multi-etcd for high availability?"
I have a external etcd cluster, and can I use 3 IP like this:

[code]

And how to use 3 instances when deploy with the `install.sh` script?

[2017-12-15 09:37] llunplay opened #320 "When I installed the script in a Kubernetes environment, I got the following error:DaemonSet.extensions "contiv-netplugin" is invalid"
Hi all
     When I installed the script in a Kubernetes environment, I got the following error:

[root@service-6-140 contiv-1.1.6]# ./install/k8s/install.sh -n 10.11.6.140
Installing Contiv for Kubernetes
secret "aci.key" created
Generating local certs for Contiv Proxy
Created ./local_certs/local.key and ./local_certs/cert.pem
Setting installation parameters
Applying contiv installation
To customi

[2017-12-15 22:23] tiewei commented on #320
@llunplay thanks for raising the issue, could you provide the content of `./.config.yaml`, k8s version and k8s configurations ( you can get it by provide `ps -ef|grep kube` ) so that we can try reproducing it ?

[2017-12-15 22:27] tiewei commented on #319
unfortunately multi etcd endpoints are not supported in netplugin at the moment, if your etcd cluster allowed peering, you can take a look at https://github.com/contiv/install/blob/master/install/k8s/configs/etcd.yaml#L70-L99 to add a etcd-proxy daemonset, which will proxying the request to your external etcd cluster, and you can configure the `ETCD_INITIAL_CLUSTER` with multi nodes like below:
`c

[2017-12-17 05:05] KeithTt commented on #319
I think the example proxy daemonset need a corresponding service and use `node-selector` to ensure the pods are only running on netmaster nodes, am I right?

[2017-12-18 02:17] llunplay commented on #320
@tiewei thank you for your help, this is the k8s version and k8s configurations "
[root@service-6-140 ~]# ps -ef|grep kube
root       6161      1  0 Oct27 ?        00:02:10 /usr/bin/flanneld -etcd-endpoints=http://10.11.6.140:2379,http://10.11.6.148:2379,http://10.11.6.149:2379 -etcd-prefix=/kube-centos/network
kube       6844      1  1 Dec15 ?        00:51:35 /usr/bin/kube-controller-manager --lo

[2017-12-18 08:13] KeithTt commented on #319
BTW, does contiv support etcd v3? it was v2.3.8 in kubernetes.

[2017-12-18 08:17] llunplay commented on #294
Hi
    I have the same problem.
    you added netmaster to no_proxy ,Does it means your  netmaster the way to access the Internet？
@moonek

[2017-12-18 08:26] dseevr commented on #320
The file is `.config.yaml`:

[code]

[2017-12-18 08:29] dseevr commented on #319
etcd 3 is API-compatible with etcd 2 clients (there is a REST/JSON gateway).  We are working on upgrading Contiv to use the etcd 3 client API now.

[2017-12-18 08:49] llunplay commented on #320
I still can not find that file,this is the log ,thanks for your help!!
[root@service-6-140 contiv-1.1.7]# find . -type f -name .config.yaml
[root@service-6-140 contiv-1.1.7]# ls
aci.key  ansible  contiv_cache  install  local_certs  README.md
[root@service-6-140 contiv-1.1.7]# find . -type f -name .config.yaml
[root@service-6-140 contiv-1.1.7]#

[2017-12-18 09:27] KeithTt commented on #319
@dseevr Got it, thanks.

[2017-12-18 10:14] KeithTt opened #321 "Does it need to set podSubnetCIDR when use contiv?"
Contiv version: 1.1.7

I set 10.244.0.0/16 when init the kubernetes cluster with kubeadm, this is my config file of kubeadm:

[code]

And contiv has a ui to create a network or use netctl to create a network, so should I set the podSubnetCIDR when use contiv?

And is it necessary to add the first ip of the subnet to the SAN of apiserverCert?

Thanks in advance!

[2017-12-18 11:43] #319 closed

[2017-12-18 18:04] tiewei commented on #319
Yes, that corresponding etcd service is the etcd pods running on master nodes, in your case though you can point it to external etcd servers you had

[2017-12-19 02:41] KeithTt opened #322 "What is the difference between the two `nw type` -- `infra` and `data`?"
Is there a doc about this...?

[code]

[2017-12-19 02:57] KeithTt opened #323 "Get https://10.96.0.1:443/api/v1/secrets: read tcp 30.0.0.5:50738->10.96.0.1:443: read: connection reset by peer"
I met this issue when access dashboard, it seems something about certs or secrets?

30.0.0.0/10 is my podSubnet, and 30.0.0.5 is the pod IP.

![image](https://user-images.githubusercontent.com/15189954/34170688-cd0a95ac-e526-11e7-8094-a9678aea74b1.png)

Everything works when use calico, so i think the issue is something about contiv, pls help...

[2017-12-19 08:04] llunplay commented on #320
Thanks for your help, the problem has been solved.With the help of a buddy, we can be sure that this is a policy issue.And Here is the solution.

vim /etc/kubernetes/config
###

KUBE_ALLOW_PRIV="--allow-privileged=true"

[2017-12-19 08:26] #320 closed

[2017-12-20 00:17] vhosakot commented on #322
@KeithTt http://contiv.github.io/documents/tutorials/networking-kubernetes-16.html has documentation about the continue default network:

[code]

[2017-12-20 02:10] KeithTt commented on #322
@vhosakot I know how to create it. I want to find out the difference between the two `Nw type`...

[2017-12-20 02:14] vhosakot commented on #322
@KeithTt The "Networks in Contiv" section in http://contiv.github.io/documents/networking/concepts.html has the difference between contiv infra network and application (data) network:

[2017-12-20 05:08] KeithTt opened #324 "Error: Couldn't find key contiv_etcd in ConfigMap kube-system/contiv-config"
kube version: 1.8.5
contiv version: 1.2.0

I use a external etcd cluster:

[code]

[code]

And met issue as the title, both `netmaster` and `netplugin` can not start up.

[2017-12-20 06:20] KeithTt commented on #322
@vhosakot Got it, thanks a lot!

[2017-12-20 06:22] #322 closed

[2017-12-20 08:32] KeithTt opened #325 "Error while adding to cni network: Contiv:Post http://localhost/ContivCNI.AddPod: dial unix /run/contiv/contiv-cni.sock: connect: no such file or directory"
kube version: 1.8.5
contiv version: 1.7.1

I just run `kubeadm join --token 054cbb.3b6ef4a18a44386d 192.168.6.16:6443 --discovery-token-ca-cert-hash sha256:faf517d956b4dc26a7a37276886e1e1a9d923973f7e8067b051aa9db88741994` adding a node to the cluster, and there is no file `/run/contiv/contiv-cni.sock`...

[code]

The `netplugin` pod is running:
[code]

And the node is ready:
[code]
I cordon the pr

[2017-12-20 10:21] KeithTt commented on #325
**update**

I drained the node and create the directory manually, then join again, and the socket was created, it seems this dir can not be created automatically when `netplugin` startup.

But there appear another problem, I will open another issue.

Iʻm very sorry with so many problems...

[2017-12-20 10:22] #325 closed

[2017-12-20 10:31] KeithTt opened #326 "Liveness probe failed: HTTP probe failed with statuscode: 503"
kube version: 1.8.5
contiv version: 1.1.7

kube-dns can not run on the new joining node, because of liveness probe:

[code]

[2017-12-20 19:54] dseevr commented on #323
@neelimamukiri is this the same error you were seeing?

[2017-12-20 21:28] chrisplo commented on #324
for 1.2.0, please try `-e http://192.168.6.17:6666` instead of your `-c` argument

[2017-12-20 22:05] vhosakot commented on #324
Right, in Contiv 1.2.0, `-c` is for consul endpoint and `-e` is for etcd endpoint:

https://github.com/contiv/install/blob/master/install/k8s/install.sh#L62
https://github.com/contiv/install/blob/master/install/k8s/install.sh#L61

[2017-12-21 06:07] KeithTt commented on #324
Thank you both!!!

[2017-12-21 06:07] #324 closed

[2017-12-21 08:23] KeithTt commented on #319
@tiewei If I use a external etcd cluster, can I use etcd v3 instead of v2?

[2017-12-21 17:48] tiewei commented on #319
yes, as long as the client is connecting it with v2 API, the etcd v3 will behaves as v2

[2017-12-22 03:02] KeithTt opened #330 "Could not generate persistent MAC address for contivh0: No such file or directory"
kube version: 1.8.5
contiv version: 1.1.7
OS version: debian stretch

I use `kubeadm join xxx` to add a node to the k8s cluster, but the network reports some errors:

[code]

Why ntpd reports errors about contiv?

And what is systemd-udevd doing?

I check all the nodes in the cluster, all of them report these errors, I stop the ntp service and the errors about ntp disappear, but the errors about `

[2017-12-22 03:18] KeithTt commented on #330
/kind support

[2017-12-22 06:35] KeithTt commented on #319
@tiewei Thanks a lot!!!

[2017-12-25 02:38] KeithTt commented on #323
@dseevr There are 3 netmasters in my environment.

I have rebuild the cluster one more time step by step to locate the problem, it appears when there are multi-netmasters, and everything is ok when there is only one netmaster.

I installed contiv like this:

1、replace the CA path
[code]

2、change the kind of netmaster to DaemonSet

3、copy the certs to all the 3 masters in `/var/contiv/`

4、deploy

[2017-12-26 03:16] KeithTt opened #331 "Large amount of TLS handshake errors from `contiv-api-proxy`"
kube version: 1.8.4
contiv version: 1.1.7

[code]

And these IPs `192.168.x.x` is existing from other servers, what happened about this?

[2017-12-28 07:15] KeithTt commented on #323
Finally I found the problem, there is one cert signed wrong......I spend so much time looking for it, sad.

@dseevr Thanks.

[2017-12-28 07:15] #323 closed

[2017-12-28 07:16] KeithTt commented on #321
The answer is NO..Close it.

[2017-12-28 07:16] #321 closed

[2017-12-28 07:16] KeithTt commented on #326
There is cert issue, close it.

[2017-12-28 07:16] #326 closed

[2018-01-12 10:03] subcrew opened #339 "make[1]: *** [vagrant-clean] Error 1"
Hi,
I got a make error when run "make demo-legacy-swarm" as belows:
[code]
I install vagarnt and virtualbox both from the official downloads file. OS version is Ubutnu 16.04.
[code]
If anybody can help me with this issue, I'll be really appreciated that.

Thanks,
Ayakshi

[2018-01-12 11:02] dseevr commented on #339
This is due to a bug (?) in Vagrant 2.0.1 ... `vagrant destroy -f` returns a non-zero exit code if there's nothing to do.

You can either downgrade to 2.0.0 or edit the following lines:

https://github.com/contiv/install/blob/4b5be515558a492a07e9b835c28c8a5815db30f6/Makefile#L99

and

https://github.com/contiv/install/blob/4b5be515558a492a07e9b835c28c8a5815db30f6/scripts/vbcleanup.sh#L7

and add `

[2018-01-15 02:08] subcrew commented on #339
Thank you @dseevr , it works.

[2018-01-15 02:08] #339 closed, assigned to nobody

[2018-01-23 06:33] #330 closed

[2018-01-23 06:33] #331 closed

[2018-01-25 06:35] rkharya opened #340 "Contiv installer - Intermittent Install failures seen w/ latest 1.1.7 installer bits"
## Description
v2Plugin installation failures seen multiple times on 2 different setups.
There are different error messages for the failure for Contiv master and Contiv worker nodes.

#### Expected Behavior
Contiv install should succeed on all Master/Worker Nodes w/o any errors.

#### Observed Behavior
Issue is being seen intermittently but can be stated for sure - After complete clean-up of the D

[2018-01-25 15:29] vhosakot commented on #340
Looking at the attached logs contiv_install_01-22-2018.09-34-14.UTC.log and contiv_install_01-25-2018.05-56-47.UTC.log, I see failures when the contiv docker v2plugin was installed.

The following command failed on both master and worker nodes in the logs:

[code]

Can you send the logs in `/var/log/contiv/` and `/var/log/contiv*.log` from the master and worker nodes that saw this issue?

[2018-01-26 08:07] liucimin opened #341 "How can i use contiv in k8s' deployment?"
In the page of the contiv http://contiv.github.io/documents/tutorials/networking-kubernetes-16.html
I just get the use in pods.
But most time,we want to use the net in Deployment or RC,
So from where can i get the guide to use this in Deployment ?

[2018-01-26 09:51] rkharya commented on #340
Worker node install failures -
worker nodes don't have /var/log/contiv/ folder or any other contiv logs. So attaching logs from corresponding master nodes in the same cluster -
[contiv-master-logs-workerfailure.tar.gz](https://github.com/contiv/install/files/1667325/contiv-master-logs-workerfailure.tar.gz)

Master node intall failures - (as observed on 2nd cluter) -
[contiv-master-node-logs.tar.gz

[2018-02-07 12:44] unclejack commented on #340
@rkharya: Have you reproduced this on CentOS or on another distribution?

[2018-02-08 04:46] rkharya commented on #340
@unclejack: Reproducible on RHEL7.3 environments - BareMetal and BareMetal with VMs

[2018-02-28 08:15] wangxf1987 opened #342 "vlan-uplinks must be set when using VLAN mode"
【steps】
1. ./install/k8s/install.sh -n 10.27.244.161 -v enp130s0f0s
2. `[root@k8s-slave ~]# docker logs ccd2a6e69491`
`+ echo 'INFO: Starting contiv net with ARGS:'`
`+ echo`
`+ echo 'INFO: Starting contiv net with ENV:'`
`INFO: Starting contiv net with ARGS:`

`INFO: Starting contiv net with ENV:`
`+ /usr/bin/env`
`+ grep CONTIV_`
`CONTIV_CNI_CONFIG={`
`CONTIV_NETPLUGIN_VTEP_IP=10.27.244.163`
`CO

[2018-03-01 10:10] ghost opened #343 "Do I miss some steps? Contiv 1.2.0 with K8S 1.9.2(Never succeeded! Need help)"
Hi Master:

Do I miss some steps?
Do I need to change cni version from 0.1.0 to 0.6.0?
Thanks

k8s-master:~$ kubectl get pods(Result)
-----------------
NAME                       READY     STATUS                   RESTARTS   AGE
hello-docker-web   0/1           ContainerCreating   0                  49m

k8s-master:~$ kubectl describe pods hello-docker-web(Result)
-----------------
Events:
  Type

[2018-03-04 05:13] #343 closed, assigned to nobody

[2018-03-07 10:05] woshihaoren opened #344 "How to config vlan mod for contiv?"
[code]
./install/k8s/install.sh -n 172.16.1.202 -v ens192
when i execute this command. servers network unreachable

[2018-03-13 02:15] ghost opened #346 "Does the contiv 1.2.0 installer support NodePort for k8s 1.9.2"
Hi master,
Does the contiv 1.2.0 installer support NodePort for k8s 1.9.2?
Thanks

[2018-03-14 18:36] vhosakot commented on #346
@diuming I've tested NodePort successfully with contiv/install master with k8s 1.8 when testing Prometheus, and NodePort worked fine without any issues with contiv:

https://github.com/contiv/install/blob/master/install/k8s/configs/contiv-prometheus.yml#L79

[2018-04-11 09:32] like-inspur opened #347 "install on kubeadm 1.10 etcd create failed"
I try to install contiv 1.2.0 on kubeadm 1.10 with only one node, contiv-etcd is CrashLoopBackOff, because etcd proxy has already bind 127.0.0.1:6666. So I delete ds contiv-etcd-proxy, then contiv created successfully. The state of pod and error log of contiv-etcd is like this
[root@k8s-206 ~]# kubectl get pod -n kube-system
NAME                              READY     STATUS              RESTARTS

[2018-04-12 06:48] DivyaYash opened #348 "When I attempt to change contiv SSL certs, then the login fails to work"
During installation via ansible, have used self signed certs provided within the installer...
However, post install when I change the certs under /var/contiv/certs and restart, we are unable to login to the contov dashborad. It complains that the username/password is wrong - which is not true.

[2018-05-01 23:18] mk01 commented on #347
@like-inspur

to contiv-etcd DaemonSet definition add to spec.template.spec.initContainers.env (contiv-etcd-init)

***
            - name: ETCD_INIT_LISTEN_ON_LOCALHOST
              value: '0'
***

otherwise it on start always populates /etc/contiv/etcd/contiv-etcd-args with additional 127.0.0.1:6666 for --listen-client-urls and this conflicts with etcd proxies which listen on 127.0.0.1.

the pro

[2018-05-02 19:14] andrejmaya opened #349 "Install: Connecting pods to external networks"
The ping to Google's DNS in [Chapter 4: Connecting pods to external networks](http://contiv.github.io/documents/tutorials/networking-kubernetes-16.html) is not working:
[code]
Any ideas how to solve it? I am using the k8s version 1.8 deployment

[2018-05-21 15:37] autoberry opened #351 "Does contiv 1.2.0 support k8s 1.10 now?"
Does contiv 1.2.0 supports k8s 1.10 now?

[2018-05-29 09:18] MIBc commented on #286
I use 1.1.7. The problem still happens.

[2018-05-30 16:00] piaohai commented on #343
how to fix it,tks?

[2018-05-31 07:11] MIBc commented on #346
I use k8s 1.9. The nodeport service can not work.

[2018-06-08 06:41] lovebaicai opened #354 "Contiv 1.1.7,kubernetes installation fail. Error "contiv netmaster is not ready !!""
- contiv version 1.1.7
- kubernetes version: v1.8.8
- command
[code]
- install log
[code]
- kubernetes status
[code]
- How to solve it? Please help me. Tks!

[2018-07-05 17:16] btotharye commented on #354
I’m having this same issue trying to install 1.1.8 with k8s as well, has anyone figured out what is leading to this?

[2018-07-05 17:51] btotharye commented on #354
Here is the output on my setup, seems like the contiv-netplugin keeps crashing:

[code]

[2018-07-05 22:48] btotharye commented on #354
Here is some more information the container logs for that netplugin that is crashing shows this:

[code]

[2018-07-05 22:50] dseevr commented on #354
This format error is caused by a version of `modprobe` that does not support compressed kernel modules... I can't remember what the solution was... I think alpine's `modprobe` doesn't support them?

[2018-07-06 00:44] btotharye commented on #354
I got mine installing using `modprobe openvswitch` and now everything is loading correctly dashboard and all

[2018-07-26 02:34] arnolix opened #356 "how to install contiv for mesos dcos ?"
how to install contiv  for mesos dcos ?
My product env is  DCOS,  use  vlan mode ,  but  I  cann't  found tutarial  .

[2018-07-27 07:06] huangch57 commented on #169
I'm not sure about the same problem,I used ansible-playbook to install k8s and chose netplugin for contiv,
an error occurred during the installation.

error message:
TASK [kubernetes-apps/network_plugin/contiv : Contiv | Wait for netmaster] *****
Thursday 26 July 2018  03:31:48 -0400 (0:00:08.035)       0:04:00.036 *********
FAILED - RETRYING: Contiv | Wait for netmaster (10 retries left).
FAILED

[2018-07-27 07:12] huangch57 commented on #169
Pods:

[root@huangch kubespray]# kubectl describe pods -n kube-system
Name:           contiv-api-proxy-mpl4x
Namespace:      kube-system
Node:           huangch/192.168.122.208
Start Time:     Thu, 26 Jul 2018 03:31:48 -0400
Labels:         controller-revision-hash=2912678776
                k8s-app=contiv-api-proxy
                pod-template-generation=1
Annotations:    scheduler.alpha.kubernet

[2018-08-12 13:47] jiduofengyufan opened #357 "I wanna to know that whether the contiv version1.2.0 is supported with k8s 1.10 or not.Can anyone tell me?Thanks~~~"

[2018-08-13 03:09] jiduofengyufan opened #358 "the container's logs ERROR"
time="Aug 13 02:42:45.244262716" level=warning msg="Sleep 1 second and retry pulling global settings"
time="Aug 13 02:42:46.246008645" level=warning msg="Error reading global settings from cluster store, error: key not found
github.com/contiv/netplugin/state.(*EtcdStateDriver).Read [etcdstatedriver.go 130]
github.com/contiv/netplugin/state.(*EtcdStateDriver).ReadState [etcdstatedriver.go 240]
gith

[2018-08-19 08:11] vtlrazin commented on #349
Hi, I have the same problem.

netctl version
Client Version:
Version: 1.2.0

 I am using the k8s version 1.11.2. Deployment - VXLAN based with fwdMode:routing.

Any ideas how to solve it?

[2018-08-23 12:53] jiduofengyufan opened #359 "Can anyone help me? Thanks very much!!!!!"
time="Aug 23 12:46:49.953782944" level=warning msg="Sleep 1 second and retry pulling global settings"
time="Aug 23 12:46:50.955101468" level=warning msg="Error reading global settings from cluster store, error: key not found
github.com/contiv/netplugin/state.(*EtcdStateDriver).Read [etcdstatedriver.go 130]
github.com/contiv/netplugin/state.(*EtcdStateDriver).ReadState [etcdstatedriver.go 240]
gith

[2018-08-28 12:34] vtlrazin commented on #349
Hi andrejmaya,

I found problem.
Please execute on each host:

**iptables -P FORWARD ACCEPT**

B.R.
Vitaliy

[2018-08-31 08:32] wbtlb opened #360 "pod can not communicate witch each other which on different node"
I use netctl to create a subnet
cmd：
netctl net create -t cisco -n data -e vlan -p 120 -s 192.168.11.0/24 -g 192.168.11.1 cisco

but i found pods on differnt node can not communicate

any idea?

[2018-09-19 08:19] yaliee commented on #341
I guess you can refer contiv/vpp

[2018-09-19 09:11] darkounet commented on #341
I'm interested too with this, how can we put an IP in a specific vlan for a service ?

[2018-09-19 13:50] #341 closed, assigned to nobody

[2018-10-29 20:00] jdeglopper opened #361 "install/k8s/install.sh uses incorrect path to extract netctl"
Using contiv 1.1.9, the install/k8s/install.sh script attempts to extract netctl from the contiv/netplugin:1.1.9 Docker image: https://github.com/contiv/install/blob/master/install/k8s/install.sh#L307

The referenced path, /contiv/bin/netctl does not exist in that image, and therefore install fails with the message `Extracting netctl from netplugin container
Error: No such container:path:`

The co

[2018-11-21 12:39] elieifrah commented on #361
same here. until it is fixed in the project, we have fixed it by creating a soft link between between /go and /contiv directories:

[code]

Then run the install again:
[code]

[2018-11-24 16:54] kannanvr commented on #349
Thanks Vitaliy for the solution. Your suggestion solved my problem

[2018-11-30 08:45] liuflylove666 opened #362 "contiv can support etcdv3"
contiv can support etcdv3 ?

[2018-11-30 19:00] dseevr commented on #362
It does not support etcd 3.  I had [started working on it](https://github.com/dseevr-dev/netplugin/tree/upgrade_etcd), but I wasn't able to finish it

[2018-12-04 08:19] liuflylove666 commented on #362
@dseevr  thanks ,if you finish it,please tell me soon.

[2018-12-05 23:13] dseevr commented on #362
@liuflylove666 I don't work on this project anymore, and I don't know if there are any plans to add etcd 3 support ☹️

[2018-12-27 03:59] amwork2010 opened #363 "contiv-netmaster always Pending"
CentOS Linux release 7.6.1810
docker 18.09
kubeadm 1.13

kubeadm init --kubernetes-version=v1.13.0 --pod-network-cidr=10.10.0.0/16 --apiserver-advertise-address=192.168.55.31
wget https://github.com/contiv/install/releases/download/1.2.0/contiv-1.2.0.tgz
tar zxvf contiv-1.2.0.tgz
cd contiv-1.2.0/
./install/k8s/install.sh -n 192.168.55.31
......
contiv netmaster is not ready !!

# kubectl get po --

[2019-03-15 11:05] bishnuroy opened #364 "SSL Medium Strength Cipher Suites Supported for port 10000 & 3376"
**Docker version 18.09.1, build 4c52b90**

Getting following Vulnerabilities please help us to fixe it.
[code]

Docker Config:
[code]
Swarm Configuration:
[code]

**How can i pass TLSVersion and Cipher Suite in swarm configuration ???????????**

[2019-04-15 07:21] xpokers opened #365 "Does contiv1.1.7 support k8s 1.14"
When I finished installing, contiv continued in the pending state
![image](https://user-images.githubusercontent.com/46017037/56114009-23ae4c00-5f92-11e9-93fa-ad7022c3970e.png)

[2019-04-29 10:16] sachithmuhandiram opened #366 "make: *** [assemble-build] Error 22"
I got following error when I try to install contiv.

I have followed the given instruction in `QUICKSTART.md` and when I run `make`
I get the following error.
[code]

[2021-07-25 16:46] kusumaningrat commented on #313
Does anyone can helo to solve this problem ? Iam trying to deploy openstack using kolla-ansible. but when I run bootsrap servers deploy, I got this error
![dse](https://user-images.githubusercontent.com/62939932/126906801-84751eae-06eb-499e-babc-17ad66b6a050.png)